<!--
/**
 * Created by wonseok Lee on 21/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 21/08/2017
 *
 * Updater    수정자 - wonseok Lee 21/08/2017
 */
-->     

<ion-header class="password-change-header">
    <ion-navbar hideBackButton="true">
  
      <ion-buttons left>
        <button class="btn-back"
                (click)="goBack()">
          <img src="assets/img/register_back_arrow.png"/>
        </button>
      </ion-buttons>
      <ion-title>
        <div>비밀번호 변경</div>
      </ion-title>
      <ion-buttons right>
      </ion-buttons>
  
    </ion-navbar>
  </ion-header>
  <ion-content>
  
  <div class="password-change-content">
    <div class="input-container">
      <input type="password" placeholder="기존 비밀번호">
      <input type="password" placeholder="새 비밀번호">
      <input type="password" placeholder="비밀번호 확인">
    </div>
    <div class="submit-container">
      변경하기
    </div>
  
  </div>
  </ion-content>