<!--
/**
 * Created by wonseok Lee on 17/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 17/08/2017
 *
 * Updater    수정자 - wonseok Lee 17/08/2017
 */
-->     
<ion-menu id="sabuzakMenu" class="sabuzak-menu-container" type="overlay" [content]="sabuzakContent">
  <div class="badge chat"
       (click)="pagePusher(pageList.chatList)">
    <img src="assets/img/drawer_chat.png">
    <div class="alert">2</div>
  </div>
  <div class="badge alert"
       (click)="pagePusher(pageList.noticeList)">
    <img src="assets/img/drawer_alert.png">
    <div class="alert">100</div>
  </div>
  
  <ion-content>
    <div class="menu-header">
      <div class="profile-pic"
           (click)="goMyProfile(pageList.viewProfile)">

      </div>
      <div class="nickname">
        {{credential.user.nickName}}
      </div>
      <ul class="info">
        <li (click)="goMyProfile(pageList.viewProfile)">
          <div class="label">내상태</div>
          <div class="detail">
            <span>{{credential.user.rank}}</span>등급</div>
        </li>
        <li (click)="pagePusher(pageList.rechargeBall)">
          <div class="label">구슬</div>
          <div class="detail">
            <span>{{credential.user.totalBall}}</span>개</div>
        </li>
      </ul>
    </div>
    <ul class="menu-content">
      <li (click)="pageSetRoot(pageList.main)">
        <img src="assets/img/drawer_home.png">
        홈
      </li>
      <!-- <li (click)="goHome()">
        <img src="assets/img/drawer_home.png">
        홈
      </li> -->
      <li (click)="pagePusher(pageList.searchLiker)">
        <img src="assets/img/drawer_find_people.png">
        나를 좋아하는 이성 찾기
      </li>
      <li (click)="pagePusher(pageList.dreamConfig)">
        <img src="assets/img/drawer_mytype.png">
        이상형 설정
      </li>
      <li (click)="pagePusher(pageList.rechargeBall)">
        <img src="assets/img/drawer_market.png">
        구슬 충전소
      </li>
      <li (click)="pagePusher(pageList.settings)">
        <img src="assets/img/drawer_setting.png">
        환경설정
      </li>
      <li>
        <img src="assets/img/drawer_question.png">
        문의
      </li>
    </ul>
  </ion-content>
</ion-menu>
<ion-nav id="nav" #sabuzakContent [root]="indexPage"></ion-nav>