<!--
/**
 * Created by wonseok Lee on 16/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 16/08/2017
 *
 * Updater    수정자 - wonseok Lee 16/08/2017
 */
-->

<div class="login-content">

  <div class="logo">
    사부작
  </div>

  <div class="login-container">
    <div class="input-panel">
      <input type="text"
             name="email"
             [(ngModel)]="identifier"
             placeholder="이메일"/>
    </div>
    <div class="input-panel">
      <input type="password"
             name="password"
             [(ngModel)]="password"
             placeholder="비밀번호"/>
    </div>
  </div>
  <div class="find-user">
    로그인이 안되나요?
  </div>
  <div class="submit-container">
    <button 
      [disabled]="!isValid() || loading" (click)="login()">로그인</button>
  </div>

  <div class="oauth-container">
    <div class="oauth-item" (click)="goSocial()">
      <img src="assets/img/login_sns_facebook.png"/>
      <div>페이스북 로그인</div>
    </div>
    <div class="oauth-item" (click)="socialLogin()">
      <img src="assets/img/login_sns_kakao.png"/>
      <div>카카오톡 로그인</div>
    </div>
  </div>
  <div class="join-container"
       (click)="toRegister()">
    회원가입
  </div>
</div>
