<!--
/**
 * Created by wonseok Lee on 22/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 22/08/2017
 *
 * Updater    수정자 - wonseok Lee 22/08/2017
 */
-->
<ion-content>
  <div class="social-gender-content">
    <div class="social-gender-container">
      <div class="notice-wrapper">
        자신의 성별을 선택해주세요
      </div>
      <div class="gender-wrapper">
        <div class="male">
          <img src="assets/img/sns_select_male.png" alt="">
          <span>남자</span>
        </div>
        <div class="female">
          <img src="assets/img/sns_select_female.png" alt="">
          <span>여자</span>
        </div>
      </div>
    </div>
    <div class="footer-container"
        (click)="goBack()">
      <img src="assets/img/register_back_arrow.png">
      이전
    </div>
  </div>
</ion-content>