<!--
/**
 * Created by wonseok Lee on 18/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 18/08/2017
 *
 * Updater    수정자 - wonseok Lee 18/08/2017
 */
-->     

<ion-header class="dream-config-header">
  <ion-navbar hideBackButton="true">

    <ion-buttons left>
      <button class="btn-back"
              (click)="goBack()">
        <img src="assets/img/register_back_arrow.png"/>
      </button>
    </ion-buttons>
    <ion-title>
      <div>이상형 설정</div>
    </ion-title>
    <ion-buttons right>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content>

<div class="dream-config-content">
  <div class="dream-config-container">
    <div class="age-label">
      <div>나이</div>
      <div>{{ageLenge.lower}}~{{ageLenge.upper}}세</div>
    </div>
    <div class="input-panel range">
      <ion-range dualKnobs="true" 
                  min="18" 
                  max="45"
                  [(ngModel)]="ageLenge"></ion-range>
    </div>
    <div class="input-panel">
      <div class="label">선호지역</div>
      <div name="location" 
           class="select" 
           [ngClass]="{'none-selected':!dreamForm.location}"
           (click)="openSelect(actLocation)">
        <span *ngIf="!dreamForm.location">설정해주세요</span>
        <span *ngIf="dreamForm.location">{{dreamForm.location}}</span>
      </div>
    </div>
    <div class="input-panel">
      <div class="label">키</div>
      <div name="tall" 
           class="select" 
           [ngClass]="{'none-selected':!dreamForm.tall}"
           (click)="openSelect(actTall)">
        <span *ngIf="!dreamForm.tall">설정해주세요</span>
        <span *ngIf="dreamForm.tall">{{dreamForm.tall}}</span>
      </div>
    </div>
    <div class="input-panel">
      <div class="label">체형</div>
      <div name="bodyType" 
           class="select" 
           [ngClass]="{'none-selected':!dreamForm.bodyType}"
           (click)="openSelect(actBodyType)">
        <span *ngIf="!dreamForm.bodyType">설정해주세요</span>
        <span *ngIf="dreamForm.bodyType">{{dreamForm.bodyType}}</span>
      </div>
    </div>
    <div class="input-panel">
      <div class="label">성격</div>
      <div name="mind" 
           class="select" 
           [ngClass]="{'none-selected':true}">
        <span>설정해주세요</span>
        <!-- <span *ngIf="dreamForm">{{dreamForm.}}</span> -->
      </div>
    </div>
    <div class="input-panel">
      <div class="label">종교</div>
      <div name="faith" 
           class="select" 
           [ngClass]="{'none-selected':!dreamForm.faith}"
           (click)="openSelect(actFaith)">
        <span *ngIf="!dreamForm.faith">설정해주세요</span>
        <span *ngIf="dreamForm.faith">{{dreamForm.faith}}</span>
      </div>
    </div>
    <div class="input-panel">
      <div class="label">흡연</div>
      <div name="smoking" 
           class="select" 
           [ngClass]="{'none-selected':!dreamForm.smoking}"
           (click)="openSelect(actSmoking)">
        <span *ngIf="!dreamForm.smoking">설정해주세요</span>
        <span *ngIf="dreamForm.smoking">{{dreamForm.smoking}}</span>
      </div>
    </div>
    <div class="input-panel">
      <div class="label">음주</div>
      <div name="drinking" 
           class="select" 
           [ngClass]="{'none-selected':!dreamForm.drinking}"
           (click)="openSelect(actDrinking)">
        <span *ngIf="!dreamForm.drinking">설정해주세요</span>
        <span *ngIf="dreamForm.drinking">{{dreamForm.drinking}}</span>
      </div>
    </div>
    
  </div>

</div>
</ion-content>