<!--
/**
 * Created by wonseok Lee on 16/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 16/08/2017
 *
 * Updater    수정자 - wonseok Lee 16/08/2017
 */
-->
<ion-content>


  <div class="register-content">
    
    <div class="register-container">
      <div class="input-panel">
        <input type="text"
              name="email"
              [(ngModel)]="joinForm.email"
              placeholder="이메일"/>
      </div>
      <div class="input-panel">
        <input type="password"
              name="password"
              [(ngModel)]="joinForm.password"
              placeholder="비밀번호"/>
      </div>
      <div class="input-panel">
          <input type="password"
                name="password"
                [(ngModel)]="passwordChk"
                placeholder="비밀번호 확인"/>
        </div>
    </div>

    <div class="gender-container">
      <div class="gender-wrapper male"
          [ngClass]="{active: gender.male}"
          (click)="genderOn('male')">
        <img src="assets/img/register_male_active.png"
            *ngIf="gender.male">
        <img src="assets/img/register_male_nor.png"
            *ngIf="!gender.male">
        남자
      </div>
      <div class="gender-wrapper female"
          [ngClass]="{active: gender.female}"
          (click)="genderOn('female')">
        <img src="assets/img/register_female_active.png"
            *ngIf="gender.female">
        <img src="assets/img/register_female_nor.png"
            *ngIf="!gender.female">
        여자
      </div>
    </div>

    <div class="submit-container"
        (click)="goNext()">
      <button>회원가입</button>
    </div>

    <div class="footer-container"
        (click)="goBack()">
      <img src="assets/img/register_back_arrow.png">
      이전
    </div>
  </div>
</ion-content>