<!--
/**
 * Created by wonseok Lee on 17/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 17/08/2017
 *
 * Updater    수정자 - wonseok Lee 18/08/2017
 */
-->     

<ion-content (ionScroll)="isTopChk()">
    
  <div class="view-profile-content">
      <div class="top-fix-icon" 
            (click)="goTop()" 
            [ngClass]="{'hide':!topState}">
            <img src="assets/img/ic_scroll_to_top.png">
      </div>
    <img class="icon-fixed down-arrow" 
         src="assets/img/profile_down_btn.png"
         (click)="dismiss()">
    <div class="image-container">
      <div class="image-wrapper">
        
      </div>
      <div class="mini-image-wrapper">
        <ul class="nickname">
          <li>{{user.nickName}}</li>
          <li>{{user.age}}세, {{user.location}}</li>
        </ul>
        <ul class="mini-images">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <ul class="rank-container"
        *ngIf="owner">
      <li>나의 현재 등급은 {{user.rank}} 입니다.</li>
      <li>이성으로부터 받은 평가를 기반으로 당신의 등급이 정해집니다.</li>
    </ul>
    <ul class="profile-container" *ngIf="owner">
      <li *ngIf="user.introduce">
        {{user.introduce}}
      </li>
      <li>
        저는 <span>{{user.age}}세</span>이고 <span>{{user.location}}</span>에 살아요
      </li>
      <li *ngIf="user.job">
        직업은 <span>{{user.job}}</span>입니다
      </li>
      <li>
        키는 <span>{{user.tall}}cm</span>에 <span>{{user.bodyType}}</span>한 체형이에요
      </li>
      <li *ngIf="user.faith">
        종교는 <span>{{user.faith}}</span>입니다
      </li>
      <li *ngIf="user.school">
        <span>{{user.school}}</span>에서 공부했어요
      </li>
      <li *ngIf="user.drinking && user.smoking">
        <span>술은 {{user.drinking}}</span>마시는 편이고, <span>{{user.smoking}}</span>입니다.
      </li>
      <li *ngIf="user.interest">
        <span>{{user.interest}}</span>을 좋아해요
      </li>
    </ul>
    <ul class="profile-container" *ngIf="!owner">
      <li *ngIf="user.introduce">
        {{user.introduce}} 
      </li>
      <li>
        저는 not owner page <span>{{user.age}}세</span>이고 <span>{{user.location}}</span>에 살아요
      </li>
      <li *ngIf="user.job">
        직업은 <span>{{user.job}}</span>입니다
      </li>
      <li>
        키는 <span>{{user.tall}}cm</span>에 <span>{{user.bodyType}}</span>한 체형이에요
      </li>
      <li *ngIf="user.faith">
        종교는 <span>{{user.faith}}</span>입니다
      </li>
      <li *ngIf="user.school">
        <span>{{user.school}}</span>에서 공부했어요
      </li>
      <li *ngIf="user.drinking && user.smoking">
        <span>술은 {{user.drinking}}</span>마시는 편이고, <span>{{user.smoking}}</span>입니다.
      </li>
      <li *ngIf="user.interest">
        <span>{{user.interest}}</span>을 좋아해요
      </li>
    </ul>
    <div class="submit-container"
         (click)="likeChk()"
         *ngIf="!owner && (type == 'recommend')">
      좋아요
    </div>
    <div class="submit-container"
         (click)="goProfileUpdate()"
         *ngIf="owner">
      프로필 수정
    </div>
  </div>
    
</ion-content>