<!--
/**
 * Created by wonseok Lee on 21/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 21/08/2017
 *
 * Updater    수정자 - wonseok Lee 21/08/2017
 */
-->     
<ion-header class="notice-header">
    <ion-navbar hideBackButton>
      <ion-buttons left>
        <button class="btn-back"
                (click)="goBack()">
          <img src="assets/img/header_back_arrow_bk.png"/>
        </button>
      </ion-buttons>
      <ion-title>
        <div>공지사항</div>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    
    <div class="notice-content">
      <ul class="list-container">
        <li *ngFor="let notice of noticeList">

          <div class="message-wrapper" (click)="stateToggle(notice)">
            <ul class="message-box">
              <li>{{notice.title}}</li>
              <li>{{notice.createdAt|date:"yyyy.MM.dd HH:mm:ss"}}</li>
            </ul>
            <div class="icon-box">
              <img src="assets/img/profile_select_down_arrow.png" *ngIf="!notice.state">
              <img src="assets/img/profile_select_down_arrow.png" *ngIf="notice.state">
            </div>
          </div>
          <div class="detail-wrapper" *ngIf="notice.state">
            {{notice.content}}
          </div>

        </li>
      </ul>
    </div>
      
  </ion-content>