md-button-toggle-group {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  display: inline-flex;
  flex-direction: row;
  border-radius: 2px;
  cursor: pointer;
  white-space: nowrap;
}

.mat-button-toggle-vertical {
  flex-direction: column;
}

.mat-button-toggle-vertical .mat-button-toggle-label-content {
  display: block;
}

.mat-button-toggle-disabled .mat-button-toggle-label-content {
  cursor: default;
}

md-button-toggle {
  white-space: nowrap;
}

.mat-button-toggle-label-content {
  display: inline-block;
  line-height: 36px;
  padding: 0 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mat-button-toggle-label-content > * {
  vertical-align: middle;
}


md-button-toggle-group {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  display: inline-flex;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
}

.mat-button-toggle-checked .mat-button-toggle-label-content {
  background-color: #e0e0e0;
}

.mat-button-toggle-disabled .mat-button-toggle-label-content {
  background-color: rgba(0, 0, 0, 0.38);
  cursor: not-allowed;
}

md-button-toggle {
  white-space: nowrap;
}

.mat-button-toggle-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-transform: none;
  width: 1px;
}

.mat-button-toggle-label-content {
  display: inline-block;
  line-height: 36px;
  padding: 0 16px;
  cursor: pointer;
}

.mat-button-toggle-label-content > * {
  vertical-align: middle;
}
