.mat-ripple-background, .mat-ripple-foreground {
  background-color: rgba(0, 0, 0, .0588);
  position: absolute
}

.mat-elevation-z0 {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z1 {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z2 {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z3 {
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z4 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z5 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z6 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12)
}

.mat-elevation-z7 {
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12)
}

.mat-elevation-z8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12)
}

.mat-elevation-z9 {
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .2), 0 9px 12px 1px rgba(0, 0, 0, .14), 0 3px 16px 2px rgba(0, 0, 0, .12)
}

.mat-elevation-z10 {
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12)
}

.mat-elevation-z11 {
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, .2), 0 11px 15px 1px rgba(0, 0, 0, .14), 0 4px 20px 3px rgba(0, 0, 0, .12)
}

.mat-elevation-z12 {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12)
}

.mat-elevation-z13 {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12)
}

.mat-elevation-z14 {
  box-shadow: 0 7px 9px -4px rgba(0, 0, 0, .2), 0 14px 21px 2px rgba(0, 0, 0, .14), 0 5px 26px 4px rgba(0, 0, 0, .12)
}

.mat-elevation-z15 {
  box-shadow: 0 8px 9px -5px rgba(0, 0, 0, .2), 0 15px 22px 2px rgba(0, 0, 0, .14), 0 6px 28px 5px rgba(0, 0, 0, .12)
}

.mat-elevation-z16 {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12)
}

.mat-elevation-z17 {
  box-shadow: 0 8px 11px -5px rgba(0, 0, 0, .2), 0 17px 26px 2px rgba(0, 0, 0, .14), 0 6px 32px 5px rgba(0, 0, 0, .12)
}

.mat-elevation-z18 {
  box-shadow: 0 9px 11px -5px rgba(0, 0, 0, .2), 0 18px 28px 2px rgba(0, 0, 0, .14), 0 7px 34px 6px rgba(0, 0, 0, .12)
}

.mat-elevation-z19 {
  box-shadow: 0 9px 12px -6px rgba(0, 0, 0, .2), 0 19px 29px 2px rgba(0, 0, 0, .14), 0 7px 36px 6px rgba(0, 0, 0, .12)
}

.mat-elevation-z20 {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 20px 31px 3px rgba(0, 0, 0, .14), 0 8px 38px 7px rgba(0, 0, 0, .12)
}

.mat-elevation-z21 {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, .2), 0 21px 33px 3px rgba(0, 0, 0, .14), 0 8px 40px 7px rgba(0, 0, 0, .12)
}

.mat-elevation-z22 {
  box-shadow: 0 10px 14px -6px rgba(0, 0, 0, .2), 0 22px 35px 3px rgba(0, 0, 0, .14), 0 8px 42px 7px rgba(0, 0, 0, .12)
}

.mat-elevation-z23 {
  box-shadow: 0 11px 14px -7px rgba(0, 0, 0, .2), 0 23px 36px 3px rgba(0, 0, 0, .14), 0 9px 44px 8px rgba(0, 0, 0, .12)
}

.mat-elevation-z24 {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12)
}

[md-ripple] {
  overflow: hidden
}

[md-ripple].mdRippleUnbounded {
  overflow: visible
}

.mat-ripple-background {
  opacity: 0;
  transition: opacity .3s linear;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0
}

.mdRippleUnbounded .mat-ripple-background {
  display: none
}

.mat-ripple-background.mat-ripple-active, .mdRippleFocused .mat-ripple-background {
  opacity: 1
}

.mat-ripple-foreground {
  border-radius: 50%;
  pointer-events: none;
  opacity: .25;
  transition: opacity, transform 0s cubic-bezier(0, 0, .2, 1)
}

.mat-ripple-foreground.mat-ripple-fade-in {
  opacity: 1
}

.mat-ripple-foreground.mat-ripple-fade-out {
  opacity: 0
}

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-transform: none;
  width: 1px
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  max-width: calc(100%);
  max-height: calc(100%);
  //&.full-screen{
  //  max-width: none;
  //  max-height: none;
  //}
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
  opacity: 0
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: .48
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, .6)
}

.cdk-overlay-transparent-backdrop {
  background: 0 0
}

.mdRippleFocused .mat-ripple-background {
  background-color: rgba(255, 64, 129, .1)
}

[md-button].mat-button-focus.mat-primary .mat-button-focus-overlay, [md-fab].mat-button-focus.mat-primary .mat-button-focus-overlay, [md-icon-button].mat-button-focus.mat-primary .mat-button-focus-overlay, [md-mini-fab].mat-button-focus.mat-primary .mat-button-focus-overlay, [md-raised-button].mat-button-focus.mat-primary .mat-button-focus-overlay {
  background-color: rgba(63, 81, 181, .12)
}

[md-button].mat-button-focus.mat-accent .mat-button-focus-overlay, [md-fab].mat-button-focus.mat-accent .mat-button-focus-overlay, [md-icon-button].mat-button-focus.mat-accent .mat-button-focus-overlay, [md-mini-fab].mat-button-focus.mat-accent .mat-button-focus-overlay, [md-raised-button].mat-button-focus.mat-accent .mat-button-focus-overlay {
  background-color: rgba(255, 64, 129, .12)
}

[md-button].mat-button-focus.mat-warn .mat-button-focus-overlay, [md-fab].mat-button-focus.mat-warn .mat-button-focus-overlay, [md-icon-button].mat-button-focus.mat-warn .mat-button-focus-overlay, [md-mini-fab].mat-button-focus.mat-warn .mat-button-focus-overlay, [md-raised-button].mat-button-focus.mat-warn .mat-button-focus-overlay {
  background-color: rgba(244, 67, 54, .12)
}

[md-button], [md-icon-button] {
  background: 0 0
}

[md-button].mat-primary, [md-icon-button].mat-primary {
  color: #3f51b5
}

[md-button].mat-accent, [md-icon-button].mat-accent {
  color: #ff4081
}

[md-button].mat-warn, [md-icon-button].mat-warn {
  color: #f44336
}

[md-button].mat-accent[disabled], [md-button].mat-primary[disabled], [md-button].mat-warn[disabled], [md-button][disabled][disabled], [md-icon-button].mat-accent[disabled], [md-icon-button].mat-primary[disabled], [md-icon-button].mat-warn[disabled], [md-icon-button][disabled][disabled] {
  color: rgba(0, 0, 0, .38)
}

[md-button]:hover.mat-primary .mat-button-focus-overlay, [md-icon-button]:hover.mat-primary .mat-button-focus-overlay {
  background-color: rgba(63, 81, 181, .12)
}

[md-button]:hover.mat-accent .mat-button-focus-overlay, [md-icon-button]:hover.mat-accent .mat-button-focus-overlay {
  background-color: rgba(255, 64, 129, .12)
}

[md-button]:hover.mat-warn .mat-button-focus-overlay, [md-icon-button]:hover.mat-warn .mat-button-focus-overlay {
  background-color: rgba(244, 67, 54, .12)
}

[md-fab], [md-mini-fab], [md-raised-button] {
  background-color: #fafafa
}

[md-fab].mat-primary, [md-mini-fab].mat-primary, [md-raised-button].mat-primary {
  color: rgba(255, 255, 255, .87);
  background-color: #3f51b5
}

[md-fab].mat-accent, [md-fab].mat-warn, [md-mini-fab].mat-accent, [md-mini-fab].mat-warn, [md-raised-button].mat-accent, [md-raised-button].mat-warn {
  color: #fff
}

[md-fab].mat-accent, [md-mini-fab].mat-accent, [md-raised-button].mat-accent {
  background-color: #ff4081
}

[md-fab].mat-warn, [md-mini-fab].mat-warn, [md-raised-button].mat-warn {
  background-color: #f44336
}

[md-fab].mat-accent[disabled], [md-fab].mat-primary[disabled], [md-fab].mat-warn[disabled], [md-fab][disabled][disabled], [md-mini-fab].mat-accent[disabled], [md-mini-fab].mat-primary[disabled], [md-mini-fab].mat-warn[disabled], [md-mini-fab][disabled][disabled], [md-raised-button].mat-accent[disabled], [md-raised-button].mat-primary[disabled], [md-raised-button].mat-warn[disabled], [md-raised-button][disabled][disabled] {
  color: rgba(0, 0, 0, .38);
  background-color: rgba(0, 0, 0, .12)
}

[md-fab], [md-mini-fab] {
  background-color: #ff4081;
  color: #fff
}

.mat-button-toggle-checked .mat-button-toggle-label-content {
  background-color: #e0e0e0
}

.mat-button-toggle-disabled .mat-button-toggle-label-content {
  background-color: rgba(0, 0, 0, .38)
}

md-card {
  background: #fff;
  color: #000
}

md-card-subtitle {
  color: rgba(0, 0, 0, .54)
}

.mat-checkbox-frame {
  border-color: rgba(0, 0, 0, .54)
}

.mat-checkbox-checkmark {
  fill: #fafafa
}

.mat-checkbox-checkmark-path {
  stroke: #fafafa !important
}

.mat-checkbox-mixedmark {
  background-color: #fafafa
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background-color: #3f51b5
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #e91e63
}

.mat-checkbox-checked.mat-warn .mat-checkbox-background, .mat-checkbox-indeterminate.mat-warn .mat-checkbox-background {
  background-color: #f44336
}

.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-disabled.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #b0b0b0
}

.mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame {
  border-color: #b0b0b0
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-primary .mat-checkbox-ripple .mat-ripple-foreground {
  background-color: rgba(63, 81, 181, .26)
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-foreground {
  background-color: rgba(255, 64, 129, .26)
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-warn .mat-checkbox-ripple .mat-ripple-foreground {
  background-color: rgba(244, 67, 54, .26)
}

.mat-chip:not(.mat-basic-chip) {
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, .87)
}

.mat-chip.mat-chip-selected:not(.mat-basic-chip) {
  background-color: grey;
  color: rgba(255, 255, 255, .87)
}

.mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-primary {
  background-color: #3f51b5;
  color: rgba(255, 255, 255, .87)
}

.mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-accent {
  background-color: #e91e63;
  color: #fff
}

.mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-warn {
  background-color: #f44336;
  color: #fff
}

md-dialog-container {
  background: #fff;
  overflow: hidden !important;
}

md-icon.mat-primary {
  color: #3f51b5
}

md-icon.mat-accent {
  color: #ff4081
}

md-icon.mat-warn {
  color: #f44336
}

.mat-input-placeholder {
  color: rgba(0, 0, 0, .38)
}

.mat-input-placeholder.mat-focused {
  color: #3f51b5
}

.mat-input-placeholder.mat-focused.mat-accent {
  color: #ff4081
}

.mat-input-placeholder.mat-focused.mat-warn {
  color: #f44336
}

.mat-input-placeholder.mat-float.mat-focused .mat-placeholder-required, input.mat-input-element:-webkit-autofill + .mat-input-placeholder .mat-placeholder-required {
  color: #ff4081
}

[md-menu-item] md-icon, md-list [md-subheader], md-nav-list [md-subheader] {
  color: rgba(0, 0, 0, .54)
}

.mat-input-underline {
  border-color: rgba(0, 0, 0, .12)
}

.mat-input-underline .mat-input-ripple {
  background-color: #3f51b5
}

.mat-input-underline .mat-input-ripple.mat-accent {
  background-color: #ff4081
}

.mat-input-underline .mat-input-ripple.mat-warn {
  background-color: #f44336
}

md-list a[md-list-item], md-list md-list-item, md-nav-list a[md-list-item], md-nav-list md-list-item {
  color: #000
}

md-divider {
  border-top-color: rgba(0, 0, 0, .12)
}

md-nav-list .mat-list-item.mat-list-item-focus, md-nav-list .mat-list-item:hover {
  background: rgba(0, 0, 0, .04)
}

.mat-menu-content {
  background: #fff
}

[md-menu-item] {
  background: 0 0;
  color: rgba(0, 0, 0, .87)
}

[md-menu-item][disabled] {
  color: rgba(0, 0, 0, .38)
}

[md-menu-item]:focus:not([disabled]), [md-menu-item]:hover:not([disabled]) {
  background: rgba(0, 0, 0, .04)
}

.mat-progress-bar-background {
  background: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27#c5cae9%27%2F%3E%3C%2Fsvg%3E)
}

.mat-progress-bar-buffer {
  background-color: #c5cae9
}

.mat-progress-bar-fill::after {
  background-color: #3949ab
}

md-progress-bar.mat-accent .mat-progress-bar-background {
  background: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27#f8bbd0%27%2F%3E%3C%2Fsvg%3E)
}

md-progress-bar.mat-accent .mat-progress-bar-buffer {
  background-color: #f8bbd0
}

md-progress-bar.mat-accent .mat-progress-bar-fill::after {
  background-color: #d81b60
}

md-progress-bar.mat-warn .mat-progress-bar-background {
  background: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27#ffcdd2%27%2F%3E%3C%2Fsvg%3E)
}

md-progress-bar.mat-warn .mat-progress-bar-buffer {
  background-color: #ffcdd2
}

md-progress-bar.mat-warn .mat-progress-bar-fill::after {
  background-color: #e53935
}

md-progress-circle path, md-progress-spinner path, md-spinner path {
  stroke: #3949ab
}

md-progress-circle.mat-accent path, md-progress-spinner.mat-accent path, md-spinner.mat-accent path {
  stroke: #d81b60
}

md-progress-circle.mat-warn path, md-progress-spinner.mat-warn path, md-spinner.mat-warn path {
  stroke: #e53935
}

.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, .54)
}

.mat-radio-checked .mat-radio-outer-circle {
  border-color: #ff4081
}

.mat-radio-disabled .mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, .38)
}

.mat-radio-inner-circle {
  background-color: #ff4081
}

.mat-radio-disabled .mat-radio-inner-circle {
  background-color: rgba(0, 0, 0, .38)
}

.mat-radio-ripple .mat-ripple-foreground {
  background-color: rgba(255, 64, 129, .26)
}

.mat-radio-disabled .mat-radio-ripple .mat-ripple-foreground {
  background-color: rgba(0, 0, 0, .38)
}

.mat-select-trigger {
  color: rgba(0, 0, 0, .38);
  border-bottom: 1px solid rgba(0, 0, 0, .12)
}

md-select:focus:not(.mat-select-disabled) .mat-select-trigger {
  color: #3f51b5;
  border-bottom: 1px solid #3f51b5
}

md-select.ng-invalid.ng-touched:not(.mat-select-disabled) .mat-select-trigger {
  color: #f44336;
  border-bottom: 1px solid #f44336
}

.mat-select-arrow {
  color: rgba(0, 0, 0, .38)
}

md-select:focus:not(.mat-select-disabled) .mat-select-arrow {
  color: #3f51b5
}

md-select.ng-invalid.ng-touched:not(.mat-select-disabled) .mat-select-arrow {
  color: #f44336
}

.mat-select-content {
  background: #fff
}

md-option.mat-selected, md-option:focus:not(.mat-option-disabled), md-option:hover:not(.mat-option-disabled) {
  background: rgba(0, 0, 0, .04)
}

.mat-select-value {
  color: rgba(0, 0, 0, .87)
}

.mat-select-disabled .mat-select-value {
  color: rgba(0, 0, 0, .38)
}

md-option.mat-selected {
  color: #3f51b5
}

md-option.mat-option-disabled {
  color: rgba(0, 0, 0, .38)
}

.mat-sidenav-container, md-sidenav {
  color: rgba(0, 0, 0, .87)
}

.mat-sidenav-container {
  background-color: #fafafa
}

md-sidenav, md-sidenav.mat-sidenav-push {
  background-color: #fff
}

.mat-sidenav-backdrop.mat-sidenav-shown {
  background-color: rgba(0, 0, 0, .6)
}

md-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #e91e63
}

md-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(233, 30, 99, .5)
}

md-slide-toggle.mat-slide-toggle-focused:not(.mat-checked) .mat-ink-ripple {
  background-color: rgba(0, 0, 0, .12)
}

md-slide-toggle.mat-slide-toggle-focused .mat-ink-ripple {
  background-color: rgba(233, 30, 99, .26)
}

md-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #3f51b5
}

md-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(63, 81, 181, .5)
}

md-slide-toggle.mat-primary.mat-slide-toggle-focused:not(.mat-checked) .mat-ink-ripple {
  background-color: rgba(0, 0, 0, .12)
}

md-slide-toggle.mat-primary.mat-slide-toggle-focused .mat-ink-ripple {
  background-color: rgba(63, 81, 181, .26)
}

md-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #f44336
}

md-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(244, 67, 54, .5)
}

md-slide-toggle.mat-warn.mat-slide-toggle-focused:not(.mat-checked) .mat-ink-ripple {
  background-color: rgba(0, 0, 0, .12)
}

md-slide-toggle.mat-warn.mat-slide-toggle-focused .mat-ink-ripple {
  background-color: rgba(244, 67, 54, .26)
}

.mat-disabled .mat-slide-toggle-thumb {
  background-color: #bdbdbd
}

.mat-disabled .mat-slide-toggle-bar {
  background-color: rgba(0, 0, 0, .1)
}

.mat-slide-toggle-thumb {
  background-color: #fafafa
}

.mat-slide-toggle-bar {
  background-color: rgba(0, 0, 0, .38)
}

.mat-slider-track {
  background-color: rgba(0, 0, 0, .26)
}

.mat-slider-thumb, .mat-slider-thumb-label, .mat-slider-track-fill {
  background-color: #ff4081
}

.mat-slider-thumb-label-text {
  color: #fff
}

.mat-tab-header, [md-tab-nav-bar] {
  border-bottom: 1px solid #e0e0e0
}

.mat-tab-label:focus {
  background-color: rgba(197, 202, 233, .3)
}

md-ink-bar {
  background-color: #3f51b5
}

md-toolbar {
  background: #f5f5f5;
  color: rgba(0, 0, 0, .87)
}

md-toolbar.mat-primary {
  background: #3f51b5;
  color: rgba(255, 255, 255, .87)
}

md-toolbar.mat-accent {
  background: #ff4081;
  color: #fff
}

md-toolbar.mat-warn {
  background: #f44336;
  color: #fff
}

.mat-tooltip {
  background: rgba(97, 97, 97, .9)
}