<!--
/**
 * Created by wonseok Lee on 17/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 17/08/2017
 *
 * Updater    수정자 - wonseok Lee 17/08/2017
 */
-->     

<ion-content>
  
  <div class="main-content">
    <img class="icon-absolute menu-icon" 
         name="menu"
         src="assets/img/header_navicon_w.png"
         (click)="toggleMenu()">
    <img class="icon-absolute like-icon" 
         name="thumbs-up"
         src="assets/img/header_like_w.png"
         (click)="goSelectDetail(pageList.selectDetail)">
    <div class="icon-absolute list-up"
         (click)="goSelectList(pageList.selectList)">
      리스트 보기
      <ion-icon name="ios-arrow-up"></ion-icon>
    </div>
    
    <div class="recommend" 
         (click)="selectProfile(pageList.viewProfile,recommend)"
         *ngFor="let recommend of recommendList; let i = index">
      <div class="introduce">
        {{recommend.nickName}}
        <img src="assets/img/ic_view_profile.png"
             (click)="videoPlay($event, i)">
      </div>
      <div class="sub-detail">
        <span>{{recommend.location}}</span>
        <span>{{recommend.age}}</span>
        <span *ngIf="recommend.job">{{recommend.job}}</span>
      </div>
      <video id="video{{i}}" loop>
        <source src="assets/video/typing-cat.mp4" type="video/mp4">
      </video>
      <div class="lock-screen" 
           (click)="screenGuard($event)"
           *ngIf = "recommend.lock == locker">
        <img src="assets/img/main_locked.png">
      </div>
    </div>
  </div>

</ion-content>