<!--
/**
 * Created by wonseok Lee on 18/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 18/08/2017
 *
 * Updater    수정자 - wonseok Lee 18/08/2017
 */
-->     
<ion-header class="select-detail-header">
    <ion-navbar hideBackButton>
      <ion-buttons left>
        <button class="btn-img" 
                (click)="goBack()">
            <img src="assets/img/header_back_arrow_bk.png"/>
        </button>
      </ion-buttons>
      <ion-title>
        <div>평가({{availableCnt}})</div>
      </ion-title>
    </ion-navbar>
  </ion-header>
    
  <ion-content>
    <div class="select-detail-content">
      <div class="video-container">
        <ion-card class="absolute more-icon"
                  (click)="modalOpener()">
          <ion-icon name="more"></ion-icon>
        </ion-card>
      </div>
      <div class="info-container">
        <div class="nickname">
          {{user.nickName}}
        </div>
        <div class="info">
          {{user.age}},{{user.location}}
          <span *ngIf="user.interest">- {{user.interest}}을 좋아하는 
            <span *ngIf="user.gender == 'female'">여자</span>
            <span *ngIf="user.gender == 'male'">남자</span>
          </span>
        </div>
      </div>
      <div class="up-and-down-container">
        <div class="up-wrapper"
             (click)="upNDown('down')">
          <img src="assets/img/ic_evaluation_down.png">
        </div>
        <div class="down-wrapper"
             (click)="upNDown('up')">
          <img src="assets/img/ic_evaluation_up.png">
        </div>
      </div>
    </div>
  </ion-content>