<!--
/**
 * Created by wonseok Lee on 17/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 17/08/2017
 *
 * Updater    수정자 - wonseok Lee 17/08/2017
 */
-->     
<ion-header class="chat-list-header">
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button class="btn-back"
              (click)="goBack()">
        <img src="assets/img/header_back_arrow_bk.png"/>
      </button>
    </ion-buttons>
    <ion-title>
      <div>대화목록</div>
    </ion-title>
    <ion-buttons right *ngIf="!delState">
      <button (click)="delToggle()">
        편집
      </button>
    </ion-buttons>
    <ion-buttons right *ngIf="delState">
      <button (click)="delToggle()">
        완료
      </button>
    </ion-buttons>
  
  </ion-navbar>
</ion-header>

<ion-content>
    
  <div class="chat-list-content">
    <ul class="list-container">
      <li *ngFor="let i of [1,2,3,4,5,6]">
        <div class="thumbnail-wrapper">
          <!-- <img src="" alt=""> -->
        </div>
        <ul class="message-wrapper"
            (click)="goChatRoom()">
          <li>우루우루사</li>
          <li>
            안녕하세요?안녕하세요?안녕하세요?안녕하세요?안녕하세요?안녕하세요?
            안녕하세요?안녕하세요?안녕하세요?안녕하세요?안녕하세요?안녕하세요?
            안녕하세요?안녕하세요?안녕하세요?
          </li>
        </ul>
        <div class="delete-wrapper">
          <div class="normal-mode"
               *ngIf="!delState">
            <div>오후 5:00</div>
            <div>22</div>
          </div>
          <div class="delete-btn"
               *ngIf="delState">
            삭제
          </div>
        </div>
      </li>
    </ul>
  </div>
    
</ion-content>