<!--
 * Created by Yoon Yong (Andy) Shin on 23/12/2016
 * As part of AppZet
 *
 * Copyright (C) Applicat (www.applicat.co.kr) & Yoon Yong (Andy) Shin - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Yoon Yong (Andy) Shin <andy.shin@applicat.co.kr>, 23/12/2016
 *
-->

<div class="alert-content">
  <div class="header">
    <div class="button-container">
      <button class="button">
      </button>
    </div>
    <div class="title">알림</div>
    <div class="button-container">

    </div>
  </div>
  <div class="content">
    <div class="message">
      <span>{{number | mobile}}</span>
      로
    </div>
    <div class="message">
      인증번호가 전송되었습니다.
    </div>
  </div>
  <div class="footer">
    <button class="submit"
            (click)="dismiss()">확인
    </button>
  </div>
</div>
