<!--
/**
 * Created by wonseok Lee on 16/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 16/08/2017
 *
 * Updater    수정자 - wonseok Lee 16/08/2017
 */
-->     

<ion-header class="profile-header">
    <ion-navbar hideBackButton="true">
        <ion-buttons left>
            <button class="btn-back"
                    (click)="goBack()">
                <img src="assets/img/register_back_arrow.png"/>
            </button>
        </ion-buttons>
        <ion-title>
            <div>프로필 작성</div>
        </ion-title>
        <ion-buttons right>
        </ion-buttons>

    </ion-navbar>
</ion-header>
<ion-content (ionScroll)="isTopChk()">

<div class="profile-content">
	<div class="top-fix-icon" 
					(click)="goTop()" 
					[ngClass]="{'hide':!topState}">
					<img src="assets/img/ic_scroll_to_top.png">
	</div>

	<div class="video-upload">
		<div class="no-video" *ngIf="!videoState">
			<img src="assets/img/ic_add_profile_video.png">
			<p>매력을 어필할 수 있는</p>
			<p>15초 영상을 등록하세요</p>
		</div>
		<div class="registered" *ngIf="videoState">
						<!-- <img src="assets/img/test.jpg" alt=""> -->
						test
		</div>
	</div>

	<div class="uploaded">
		<img (click)="goVideoReg('new')" src="assets/img/ic_add_video.png">
		<img (click)="goVideoReg('new')" src="assets/img/ic_add_video.png">
		<img (click)="goVideoReg('new')" src="assets/img/ic_add_video.png">
	</div>

	<div class="profile-container">
		<div class="input-panel">
			<div class="red-start"></div>
			<input type="text"
							name="introduce"
							placeholder="소개글"
							[(ngModel)]="joinForm.introduce"
							(focus)="focused($event)"
							(blur)="blured($event)"/>
		</div>
		<div class="input-panel">
			<div class="red-start">*</div>
			<input type="text"
							name="nickname"
							placeholder="닉네임"
							[(ngModel)]="joinForm.nickName"
							(focus)="focused($event)"
							(blur)="blured($event)"/>
		</div>
		<div class="input-panel">
			<div class="red-start">*</div>
			<div class="select" 
					[ngClass]="{'none-selected':!joinForm.age}" 
					(click)="openSelect(actAge)">
				<span *ngIf="!joinForm.age">나이</span>
				<span *ngIf="joinForm.age">{{joinForm.age}}</span>
			</div>
		</div>
		<div class="input-panel">
			<div class="red-start">*</div>
			<div class="select" 
					[ngClass]="{'none-selected':!joinForm.location}" 
					(click)="openSelect(actLocation)">
				<span *ngIf="!joinForm.location">지역</span>
				<span *ngIf="joinForm.location">{{joinForm.location}}</span>
			</div>
		</div>
		<div class="input-panel">
			<div class="red-start"></div>
			<input type="text"
							name="job"
							placeholder="직업"
							(focus)="focused($event)"
							(blur)="blured($event)"/>
		</div>
		<div class="input-panel">
			<div class="red-start">*</div>
			<div class="select" 
					[ngClass]="{'none-selected':!joinForm.bodyType}" 
					(click)="openSelect(actBodyType)">
				<span *ngIf="!joinForm.bodyType">체형</span>
				<span *ngIf="joinForm.bodyType">{{joinForm.bodyType}}</span>
			</div>
		</div>
		<div class="input-panel">
			<div class="red-start">*</div>
			<div class="select" 
					[ngClass]="{'none-selected':!joinForm.tall}" 
					(click)="openSelect(actTall)">
				<span *ngIf="!joinForm.tall">키</span>
				<span *ngIf="joinForm.tall">{{joinForm.tall}}</span>
			</div>
		</div>
		<div class="input-panel">
			<div class="red-start"></div>
			<div class="select" 
					[ngClass]="{'none-selected':!joinForm.faith}" 
					(click)="openSelect(actFaith)">
				<span *ngIf="!joinForm.faith">종교</span>
				<span *ngIf="joinForm.faith">{{joinForm.faith}}</span>
			</div>
		</div>
		<div class="input-panel">
			<div class="red-start"></div>
			<input type="text"
							name="school"
							placeholder="학교"
							(focus)="focused($event)"
							(blur)="blured($event)"/>
		</div>
		<div class="input-panel">
			<div class="red-start"></div>
			<div class="select" 
					[ngClass]="{'none-selected':!joinForm.drinking}" 
					(click)="openSelect(actDrinking)">
				<span *ngIf="!joinForm.drinking">음주</span>
				<span *ngIf="joinForm.drinking">{{joinForm.drinking}}</span>
			</div>
		</div>
		<div class="input-panel">
			<div class="red-start"></div>
			<div class="select" 
					[ngClass]="{'none-selected':!joinForm.smoking}" 
					(click)="openSelect(actSmoking)">
				<span *ngIf="!joinForm.smoking">흡연</span>
				<span *ngIf="joinForm.smoking">{{joinForm.smoking}}</span>
			</div>
		</div>
		<div class="input-panel">
			<div class="red-start"></div>
			<input type="text"
							name="interest"
							placeholder="관심사"
							(focus)="focused($event)"
							(blur)="blured($event)"/>
		</div>
	</div>

	<div class="submit-container">
		<button (click)="goMain()">확인</button>
	</div>

</div>
</ion-content>