<!--
/**
 * Created by wonseok Lee on 18/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 18/08/2017
 *
 * Updater    수정자 - wonseok Lee 18/08/2017
 */
-->     
<ion-header class="search-liker-header">
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button class="btn-img"
              (click)="goBack()">
        <img src="assets/img/header_back_arrow_bk.png"/>
      </button>
    </ion-buttons>
    <ion-title>
      <div>나를 좋아하는 이성찾기</div>
    </ion-title>
  </ion-navbar>
</ion-header>
    
<ion-content>  
  <div class="search-liker-content">
    <ul class="list-container">
      <li>
        <ul class="list-box">
          <li class="thumbnail" *ngFor="let item of [1,2,3,4,5]">
            <div class="pic"></div>
            <div class="label">
              운동하는여자
            </div>
          </li>
          <li class="thumbnail-finding">
            <div class="pic">
              <img src="assets/img/ic_placeholder.png">
            </div>
          </li>
        </ul>
        <div class="notice-wrapper">
          <div class="searching">
            나에게 관심있는 이성을 찾는중.. (0/6)
          </div>
          <div class="notice">
            <p>
              나를 좋아하는 이성 6명을 찾을 때 까지 나의 프로필을 계속 노출시킵니다. 매칭 확률이 매우 높아지니 나를 좋아하는 이성을 찾아보세요.
            </p>
            <p>
              중단을 원하시면 그만하기를 눌러주세요 사용하신 구슬은 환불되지 않습니다.
            </p>
          </div>
        </div>
        
      </li>
    </ul>
    <div class="stop-wrapper">
      그만하기
    </div>
  </div>
    
</ion-content>