<!--
/**
 * Created by wonseok Lee on 21/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 21/08/2017
 *
 * Updater    수정자 - wonseok Lee 21/08/2017
 */
-->     

<ion-header class="usage-header">
  <ion-navbar hideBackButton="true">

    <ion-buttons left>
      <button class="btn-back"
              (click)="goBack()">
        <img src="assets/img/register_back_arrow.png"/>
      </button>
    </ion-buttons>
    <ion-title>
      <div>구슬 사용내역</div>
    </ion-title>
    <ion-buttons right>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content>

<div class="usage-content">
  <ul class="usage-container">
    <li class="label">
      <div>날짜</div>
      <div>내용</div>
      <div>변화</div>
      <div>누적</div>
    </li>
    <li class="items" *ngFor="let myBall of myBallList">
      <div>{{myBall.createdAt|date:"MM/dd"}}</div>
      <div class="detail">{{myBall.usage}}</div>
      <div>{{myBall.amount}}</div>
      <div>99</div>
    </li>
  </ul>

</div>
</ion-content>