<!--
/**
 * Created by wonseok Lee on 17/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 17/08/2017
 *
 * Updater    수정자 - wonseok Lee 17/08/2017
 */
-->     

<ion-header class="video-register-header">
  <ion-navbar hideBackButton="true">
      <ion-buttons left>
          <button class="btn-back"
                  (click)="goBack()">
              <img src="assets/img/register_back_arrow.png"/>
          </button>
      </ion-buttons>
      <ion-title>
          <div>동영상 등록</div>
      </ion-title>
      <ion-buttons right>
      </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content>

<div class="video-register-content">
  
    <div class="video-upload">
      <div class="no-video" *ngIf="!videoState">
        <img src="assets/img/ic_add_profile_video.png">
        <p>매력을 어필할 수 있는</p>
        <p>15초 영상을 등록하세요</p>
      </div>
      <div class="registered" *ngIf="videoState">
        test
      </div>
    </div>

    <div class="comment-container">
      대표컷을 등록해주세요
    </div>

    <div class="uploaded">
        <img src="assets/img/ic_add_video.png">
        <img src="assets/img/ic_add_video.png">
        <img src="assets/img/ic_add_video.png">
        <img src="assets/img/ic_add_video.png">
    </div>
    <div class="submit-container">
      <button (click)="goBack()">확인</button>
    </div>

  </div>
</ion-content>