/**
 * Created by PHILIP on 02/11/2016
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by PHILIP <developer@applicat.co.kr>, 02/11/2016
 *
 * Updater    수정자 - PHILIP 21/03/2017
 */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fromSide {
  from {
    opacity: 0;
    transform: translateX(-50px) translateY(0px) translateZ(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0px) translateY(0px) translateZ(0px);
  }
}

@keyframes toLeftBack {
  from {
    opacity: 1;
    transform: translateX(0) translateZ(0);
  }
  to {
    opacity: 0;
    transform: translateX(-80px) translateZ(-80px);
  }
}

@keyframes leftToRightTab2 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-179deg);
  }
}

@keyframes spincubeTab1 {
  from {
    transform: rotateY(-179deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes spincubeTab2 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-179deg);
  }
}

@keyframes disappearUp {
  from {
    transform: translate3d(0, 0%, 0);
  }
  to {
    transform: translate3d(0, -120%, 0);
  }
}

@keyframes appearDown {
  from {
    transform: translate3d(0, -120%, 0);
  }
  to {
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes backdropAppear {
  from {
    background-color: transparent;
  }
  30% {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes backdropDisappear {
  from {
    background-color: rgba(0, 0, 0, 0.6);
  }
  to {
    background-color: transparent;
  }
}