/**
 * Created by JongIn Koo on 02/11/2016
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by JongIn Koo <developer@applicat.co.kr>, 02/11/2016
 *
 * Updater    수정자 - PHILIP 21/03/2017
 */

div.scroll-content .full-screen, .full-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pushToast {
  > div {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }
  .toast-message {
    color: black !important;
  }
}

.picker-col {
  max-width: none !important;
}


input:disabled {
  background-color: white;
}


.toggle-md .toggle-checked .toggle-inner{
  background-color: white !important;
}

.hide{
  display: none;
}
.top-fix-icon{
  box-shadow: 0 0 5px $grey9;
  width: vw(145);
  height: vw(145);
  border-radius: 50%;
  position: fixed;
  bottom: vw(50);
  right: vw(50);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  z-index: 300;
  img{
    width: vw(70);
  }
}