/**
 * Created by PHILIP on 02/11/2016
 * As part of nail-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by PHILIP <developer@applicat.co.kr>, 02/11/2016
 *
 * Updater    수정자 - PHILIP 04/04/2017
 */


/**********************
*
*       Browser
*
**********************/

/**********************
*
*       Remove scroll from preview
*
**********************/

body {
  -ms-overflow-style: none !important;
}

::-webkit-scrollbar {
  display: none;
}

/**********************
*
*       Angular
*
**********************/


/**********************
*
*       Ionic
*
**********************/

ion-app{

  .click-block {
    display: none;
  }

  p,
  h1, h2, h3, h4, h5, h6,
  input, textarea, button{
    margin: 0;
    padding: 0;
    border: none;
    -webkit-appearance: none;
  }

  button{
    background-color: transparent;
  }

  ion-navbar{
    &.toolbar{
      padding: 0;
      .toolbar-background{
        border: none;
        background-color: transparent;
      }
      .toolbar-content{
        padding: 0;
        .toolbar-title{
        }
      }
    }
  }

  ion-item{
    &.item{
      border: 0;
      padding: 0;
      background-color: transparent;
    }
    &.item-block{
      .item-inner{
        min-height: initial;
        padding: 0;
        border: 0;
        .input-wrapper{
          ion-label{
            margin: 0;
            padding: 0;
          }
        }
        ion-toggle{
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  ion-buttons{
    margin: 0;
  }

  ion-slide{
    &.swiper-slide {
      width: 0;
    }
  }

  ion-modal{
    ion-backdrop{
      &.backdrop-no-tappable{
        visibility: hidden;
      }
    }
  }

  .has-refresher{
    > .scroll-content{
      border: none;
    }
  }

  /**********************
  *
  *       Android
  *
  **********************/
  &.md{
    ion-header{
      &.header-md{
        &::after{
          display: none;
        }
      }
    }

    .card-md{
      width: 100%;
      margin: 0;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;
      p{
        margin: 0;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        color: inherit;
      }
    }
  }

  /**********************
  *
  *       iOS
  *
  **********************/
  &.ios{

    ion-tab {
      .ion-page{
        ion-header{
          .toolbar.statusbar-padding, .toolbar.statusbar-padding:first-child{
            height: auto;
            min-height: 0;
            ion-title{
              height: auto;
              min-height: 0;
            }
          }
        }
      }
    }

    .modal-wrapper{
      .ion-page{
        ion-header{
          .toolbar.statusbar-padding, .toolbar.statusbar-padding:first-child{
            height: auto;
            min-height: 0;
            ion-title{
              height: auto;
              min-height: 0;
            }
          }
        }
      }
    }

    ion-list{
      &.list-ios{
        margin: 0;
        .item-block{
          &:first-child{
            border-top: 0;
          }
          &:last-child{
            border-bottom: 0;
          }
          .item-inner{
            .input-wrapper{
              ion-label{
                p{
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }

    .card-ios{
      width: 100%;
      margin: 0;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;
      p{
        margin: 0;
        padding: 0;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        color: inherit;
      }
    }

    .nav-decor {
      background: transparent !important;
    }
  }

  /**********************
  *
  *       Window
  *
  **********************/
  .card-wp{
    background-color: transparent;
  }
}
