/**
 * Created by JongIn Koo on 02/11/2016
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by JongIn Koo <developer@applicat.co.kr>, 02/11/2016
 *
 * Updater    수정자 - PHILIP 21/03/2017
 */

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$primary: transparent;

$main1: #ff6789;
$main2: #3c4542;
$main3: #f3f6fe;
$main4: transparent;
$main5: transparent;

$sub1: #2B8AFF;
$sub2: #FF4B4B;
$sub3: #488DC9;
$sub4: #F59331;
$sub5: #e5eaf1;

$white: #FFFFFF;
$grey1: #FAFAFA;
$grey2: #F5F5F5;
$grey3: #F0F0F0;
$grey4: #EAEAEA;
$grey5: #CCCCCC;
$grey6: #BBBBBB;
$grey7: #999999;
$grey8: #666666;
$grey9: #444444;
$grey10: #333333;
$black: #000000;

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

$toolbar-background: transparent;
$toolbar-border-color: transparent;

$card-ios-border-radius: 8px;
$card-md-border-radius: 8px;
$card-wp-border-radius: 8px;

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color: #000;
$background-color: #fff;

$app-colors:
  "main1",
"main2",
"main3",
"main4",
"main5",
"sub1",
"sub2",
"sub3",
"sub4",
"sub5",
"white",
"grey1",
"grey2",
"grey3",
"grey4",
"grey5",
"grey6",
"grey7",
"grey8",
"grey9",
"grey10",
"black";

$app-directions: 'top',
'right',
'bottom',
'left';

$app-directions-vertical: 'top',
'bottom';

$app-directions-horizontal: 'left',
'right';
