<!--
/**
 * Created by wonseok Lee on 16/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 16/08/2017
 *
 * Updater    수정자 - wonseok Lee 16/08/2017
 */
-->
<ion-content>
  <div class="email-sns-content">

    <div class="logo"></div>

    <div class="email-sns-container">

      <div class="submit-container">
        <button (click)="toRegister()">
          이메일 가입
        </button>
      </div>
    
      <div class="oauth-container">
        <div class="oauth-item">
          <img src="assets/img/login_sns_facebook.png"/>
          <div>페이스북 로그인</div>
        </div>
        <div class="oauth-item">
          <img src="assets/img/login_sns_kakao.png"/>
          <div>카카오톡 로그인</div>
        </div>
      </div>

      
    </div>
    <div class="footer-container"
        (click)="goBack()">
      <img src="assets/img/register_back_arrow.png">
      이전
    </div>
  </div>
</ion-content>