<!--
/**
 * Created by wonseok Lee on 17/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 17/08/2017
 *
 * Updater    수정자 - wonseok Lee 17/08/2017
 */
-->     
<ion-header class="chat-room-header">
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button class="btn-back"
              (click)="goBack()">
        <img src="assets/img/header_back_arrow_bk.png"/>
      </button>
    </ion-buttons>
    <ion-title>
      <div>명랑수수</div>
    </ion-title>
  
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="chat-room-content">
    <ul class="message-container">

      <li class="message-wrapper">
        <div class="pic"></div>
        <div class="chat-box">
          <div class="nickname">
            우루우루우루사
          </div>
          <div class="msg-box">
            <div class="msg">
              안녕하세요? 반갑습니다^^ 안녕하세요? 반갑습니다^^ 
              안녕하세요? 반갑습니다^^ 안녕하세요? 반갑습니다^^ 
              안녕하세요? 반갑습니다^^ 안녕하세요? 반갑습니다^^ 
              안녕하세요? 반갑습니다^^ 안녕하세요? 반갑습니다^^ 
              안녕하세요? 반갑습니다^^ 안녕하세요? 반갑습니다^^ 
              안녕하세요? 반갑습니다^^ 안녕하세요? 반갑습니다^^ 
            </div>
            <div class="time">
              오후 5:00
            </div>
          </div>
        </div>
      </li>

      <li class="send-wrapper">
        <div class="time-box">
          <div class="read">1</div>
          <div class="time">오후 5:00</div>
        </div>
        <div class="msg">
            안녕하세요? 반갑습니다^^ 안녕하세요? 반갑습니다^^ 
            안녕하세요? 반갑습니다^^ 안녕하세요? 반갑습니다^^ 
            안녕하세요? 반갑습니다^^ 안녕하세요? 반갑습니다^^ 
            안녕하세요? 반갑습니다^^ 안녕하세요? 반갑습니다^^ 
        </div>
      </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="text-container">
      <textarea name="chatMsg" id="" placeholder="메시지를 입력해주세요"></textarea>
      <!-- <ion-textarea aria-placeholder="메시지를 입력해주세요"></ion-textarea> -->
      <div class="msg-send-btn">전송</div>
    </div>
  </div>
</ion-content>