/**
 * Created by JongIn Koo on 02/11/2016
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by JongIn Koo <developer@applicat.co.kr>, 02/11/2016
 *
 * Updater    수정자 - PHILIP 21/03/2017
 */

flipper {
  perspective: 1000px;

  /* flip speed goes here */
  .flip-panel {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.6s;
    transform-style: preserve-3d;
  }

  /* hide back of pane during swap */
  .front-side, .back-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  /* front pane, placed above back */
  .front-side {
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .back-side {
    transform: rotateY(180deg);
  }

  /* flip the pane when hovered */
  &.flip{
    .flip-panel{
      z-index: 2;
      transform: rotateY(180deg);
    }
  }
}
