/**
 * Created by PHILIP on 10/04/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by PHILIP <developer@applicat.co.kr>, 10/04/2017
 *
 * Updater    수정자 - PHILIP 10/04/2017
 */

google-map{
  display: block;
  width: 100%;
  height: 100%;
  .google-map-panel{
    width: 100%;
    height: 100%;
    sebm-google-map{
      width: 100%;
      height: 100%;
    }
  }
}