/**
 * Created by PHILIP on 02/11/2016
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by PHILIP <developer@applicat.co.kr>, 02/11/2016
 *
 * Updater    수정자 - PHILIP 21/03/2017
 */

photo-zoom{
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  .photo-zoom-panel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .photo-zoom-loading{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      visibility: visible;
      transition: all 0.2s ease;
      &.done{
        opacity: 0;
        visibility: hidden;
      }
      ion-spinner svg {
        width: 28px;
        height: 28px;
        stroke: #fff;
        fill: #fff;
        circle {
          stroke: #fff;
        }
      }
    }
    .photo{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      img{
        display: block;
        width: 100%;
      }
    }
  }
}
