/**
 * Created by JongIn Koo on 02/11/2016
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by JongIn Koo <developer@applicat.co.kr>, 02/11/2016
 *
 * Updater    수정자 - PHILIP 21/03/2017
 */

preload-image {
  width: 100%;
  display: block;
  position: relative;
  .preload-image-panel {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .preload-image-loading {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transition: all 0.2s ease;
      &.done{
        opacity: 0;
      }
      ion-spinner svg {
        width: 28px;
        height: 28px;
        stroke: #fff;
        fill: #fff;
        circle {
          stroke: #fff;
        }
      }
    }
  }
}
