
.agreement-header {
  ion-title {
    padding: 0 !important;
    .toolbar-title {
      width: 100%;
      color: white;
      font-size: vw(50) !important;
      padding: 0 0 0 0 !important;
      text-align: left;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .sub-title {
        font-size: vw(40) !important;
        margin-left: vw(15);
      }
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-back {
      height: vw(55) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }

  }
}

.agreement-content {
  font-family: Arial !important;
  background-color: $main3;
  .scroll-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .check-container {
    width: vw(980);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: vw(60);
    &:first-child {
      margin-top: vw(55);
    }
    img {
      height: vw(70);
      display: block;
    }
    > div {
      font-size: vw(35);
      margin-left: vw(28);
    }
  }
  .remote-read {
    width: vw(980);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: vw(120);
    .check-container {
      margin-top: 0;
    }
    .other-item {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $grey9;
      font-size: vw(38);
      img {
        height: vw(45);
        display: block;
        margin-left: vw(44);
      }
    }
  }
  .policy-container {
    margin-top: vw(28);
    width: vw(970);
    height: vw(260);
    background-color: white;
    pre {
      white-space: pre-wrap;       /* Since CSS 2.1 */
      white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
      padding: 5px;
      font-size: 2.5vw;
    }
  }
  .check-all-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: vw(150);
    img {
      height: vw(70);
      display: block;
    }
    > div {
      font-size: vw(35);
      margin-left: vw(28);
    }
  }
  .submit-container {
    width: vw(800);
    height: vw(150);
    margin-top: vw(70);
    margin-bottom: vw(110);
    button {
      width: vw(800);
      height: vw(150);
      border-radius: 50px;
      font-size: vw(45);
      font-weight: 600;
      color: white;
      background-color: $main2;
    }
  }
}

