/**
 * Created by JongIn Koo on 02/11/2016
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by JongIn Koo <developer@applicat.co.kr>, 02/11/2016
 *
 * Updater    수정자 - PHILIP 21/03/2017
 */

/**********************
*
*       side-menu
*
**********************/

ion-navbar {
  // background-color: $main1;
  height: vw(165);
}

ion-title {
  padding: 0 !important;
  .toolbar-title {
    width: 100%;
    color: white;
    font-size: vw(50) !important;
    padding: 0 vw(70) !important;
    text-align: left;
  }
}

ion-tabs {
  .tabbar {
    background-color: $main1 !important;
    height: vw(155);
    top: vw(164) !important;
    &::after {
      background: none !important;
    }
    .tab-button {
      height: vw(155);
      background-color: $main1;
      ion-icon {
        height: vw(75);
      }
    }
  }

  .tab-button[aria-selected=true] {
    .ion-ios-tab-card-outline,
    .ion-ios-tab-card, .ion-md-tab-card, .ion-md-tab-card-outline {
      background-image: url('../assets/image/ic_card_active.png');
    }
    .ion-ios-tab-notification-outline,
    .ion-ios-tab-notification, .ion-md-tab-notification, .ion-md-tab-notification-outline {
      background-image: url('../assets/image/ic_notice_active.png');
    }
    .ion-ios-tab-setting-outline,
    .ion-ios-tab-setting, .ion-md-tab-setting, .ion-md-tab-setting-outline {
      background-image: url('../assets/image/ic_setting_active.png');
    }
  }

  .ion-ios-tab-card-outline,
  .ion-ios-tab-card, .ion-md-tab-card, .ion-md-tab-card-outline {
    background-image: url('../assets/image/ic_card_none.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .ion-ios-tab-notification-outline,
  .ion-ios-tab-notification, .ion-md-tab-notification, .ion-md-tab-notification-outline {
    background-image: url('../assets/image/ic_notice_none.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .ion-ios-tab-setting-outline,
  .ion-ios-tab-setting, .ion-md-tab-setting, .ion-md-tab-setting-outline {
    background-image: url('../assets/image/ic_setting_none.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

md-dialog-container {
  border-radius: 10px !important;
}
