.chat-list-header{
  ion-title{
    .toolbar-title{
      display: flex;
      justify-content: center;
      color: black;
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-back {
      height: vw(90) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }

  }
}

.chat-list-content {
    font-family: Arial !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    ul{
      list-style:none;
      padding: 0;
      margin: 0;
    }

    ul.list-container{
      width: 100%;
      >li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: vw(40) 0 vw(40) vw(40);
        border-bottom: 1px solid $grey6;
        div.thumbnail-wrapper{
          $size: 140;
          background-color: black;
          width: vw($size);
          height: vw($size);
          border-radius: vw($size/2);
          margin-right: vw(40);
        }
        ul.message-wrapper{
          width: vw(600);
          li{
            &:first-child{
              margin-bottom: vw(20);
            }
            &:last-child{
              color: $grey8;
              font-size: vw(35);
              line-height: vw(50);
              overflow: hidden; 

              text-overflow: ellipsis; 
              display: -webkit-box;
              -webkit-line-clamp: 2; /* 라인수 */	
              -webkit-box-orient: vertical; 
              word-wrap:break-word;
            }
          }
        }
        div.delete-wrapper{
          width: vw(200);
          display: flex;
          flex-direction: column;
          align-items: center;
          .normal-mode{
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: flex-end;
            align-content: center;
            div{
              &:first-child{
                font-size: vw(30);
                width: vw(150);
                color: $grey7;
                text-align: right;
                margin-bottom: vw(50);
              }
              &:last-child{
                $size: 60;
                min-width: vw($size);
                height: vw($size);
                border-radius: vw($size/2);
                background-color: $main1;
                color: #FFFFFF;
                text-align: center;
                line-height: vw($size);
              }
            }
          }
          .delete-btn{
            color: $main1;
            border: 1px solid $main1;
            border-radius: vw(20);
            text-align: center;
            width: vw(140);
            height: vw(80);
            line-height: vw(70);
            margin-top: vw(50);
          }
        }
          
      }
    }
    
  
  }
  