.chat-room-header{
  ion-title{
    .toolbar-title{
      display: flex;
      justify-content: center;
      color: black;
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-back {
      height: vw(90) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }

  }
}
.chat-room-content {
  
    font-family: Arial !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    ul{
      list-style:none;
      padding: 0;
      margin: 0;
    }
    ul.message-container{
      height: vw(1600);
      width: 100%;
      padding: vw(30);
      background-color: $grey3;
      // background-color: $grey7;
      .message-wrapper{
        display: flex;
        flex-direction: row;
        margin-bottom: vw(40);
        .pic{
          $size: 100;
          width: vw($size);
          height: vw($size);
          border-radius: vw($size/2);
          background-color: black;
          margin-right: vw(20);
        }
        .chat-box{
          .nickname{
            margin-bottom: vw(20);
            color: $grey9;
          }
          .msg-box{
            display: flex;
            flex-direction: row;
            .msg{
              max-width: vw(700);
              border-radius: vw(20);
              padding: vw(20);
              background-color: #FFFFFF;
            }
            .time{
              padding-left: vw(20);
              font-size: vw(30);
              display: flex;
              align-items: flex-end;
              color: $grey7;
            }
          }
        }
      }

      .send-wrapper{
        display: flex;
        justify-content: flex-end;
        margin-bottom: vw(40);
        .time-box{
          text-align: right;
          font-size: vw(30);
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: vw(7);
          margin-right: vw(10);
          .read{
            color: $main1;
          }
          .time{
            color: $grey7;
          }
        }
        .msg{
          background-color: $main1;
          max-width: vw(700);
          border-radius: vw(20);
          padding: vw(20);
          color: #FFFFFF;
        }
      }


    }
    div.text-container{
      position: absolute;
      bottom: 0px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #FFFFFF;
      textarea{
        width: 75%;
        resize: none;
        padding: vw(40);
      }
      .msg-send-btn{
        width: vw(170);
        height: vw(100);
        line-height: vw(90);
        text-align: center;
        border: 1px solid $main1;
        border-radius: vw(20);
        color: $main1;
        margin-right: vw(50);
      }

    }
    
    
  
  }
  