.dream-config-header {
  
  ion-title {
    padding: 0 !important;
    .toolbar-title {
      width: 100%;
      color: black;
      font-weight: 500;
      font-size: vw(40) !important;
      padding: 0 0 0 0 !important;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      div{
        width: 30%;
        height: vw(80);
        line-height: vw(80);
        text-align: center;
      }
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-back {
      height: vw(55) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }
  }

}

.dream-config-content {
  font-family: Arial !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  // height: 100%;
  background-color: #FFFFFF;
  
  .dream-config-container {
    margin-top: vw(40);
    width: 100%;
    .age-label{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;
    }
    .input-panel {
      width: 100%;
      height: vw(150);
      background-color: white;
      border-bottom: solid 1px $grey5;
      display: flex;
      align-items: center;
      padding: vw(50) 0;
      &.range{
        display: flex;
        justify-content: center;
        align-items: center;
        ion-range{
          width: 98%;
          .range-bar.range-bar-active{
            background-color: $main1;
          }
          .range-knob{
            box-shadow: none;
            border: 2px solid $main1;
          }
        }
      }
      .label{
        width: 30%;
        position: relative;
        padding-left: vw(40);
      }
      .select{
        width: 70%;
        font-size: vw(40);
        background: none;
        border: none;
      }
      .none-selected{
        color: $grey8;
      }
    }
  }
}
  