
.email-sns-content {
  font-family: Arial !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;

  .logo {
    width: 100%;
    height: vw(1080);
    background-color: black;
    font-size: vw(90);
    font-weight: 600;
    color: $main1;
    text-align: center;
  }
    
  .email-sns-container {
    .find-user{
      width: 100%;
      text-align: right;
      width: vw(940);
      padding: vw(30);
      color: $grey7;
      font-size: vw(35);
    }
    .submit-container {
      $width: vw(995);
      $height: vw(125);
      width: $width;
      height: $height;
      margin-top: vw(100);
      button {
        width: $width;
        height: $height;
        background-color: $main1;
        border-radius: 10px;
        color: white;
        font-size: vw(45);
        font-weight: 600;
      }
    }
  
    .oauth-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: vw(100);
      .oauth-item {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $grey9;
        font-size: vw(38);
        &:first-child{
          color: #00106f;
        }
        &:last-child {
          color: #4b1111;
          margin-left: vw(90);
        }
        img {
          height: vw(60);
          display: block;
          margin-right: vw(10);
        }
      }
    }
  
  }
  .footer-container{
    position: absolute;
    bottom: 0px;
    padding: vw(47) 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid $grey4;
    background-color: #FFFFFF;
    font-size: vw(40);
    img{
      height: vw(40);
      position: relative;
      top: vw(7);
    }
  }
}
  