
location-policy {
  font-family: Arial !important;
  .alert-content {
    .header {
      height: vw(150);
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: solid 1px $main1;
      .title {
        flex-grow: 2;
        text-align: center;
        font-size: vw(45);
        font-weight: 500;
        color: $main1;
      }
      .button-container {
        width: vw(150);
        height: vw(150);
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          height: vw(50);
          background-color: white;
          padding: 0;
          img {
            height: 100%;
          }
        }
      }

    }
    .content {
      flex-grow: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .policy-container {
        border: solid 1px $grey5;
        padding: vw(30) vw(20);
        margin-top: vw(64);
        font-size: vw(35);
        width: vw(800);
        height: vw(300);
        background-color: white;
      }
      .message {
        margin-top: vw(50);
        font-size: vw(40);
        font-weight: 500;
        span {
          color: $main1;
        }
      }
    }
    .footer {
      margin-top: vw(55);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      button {
        width: vw(300);
        height: vw(120);
        font-size: vw(45);
        font-weight: 500;
        border-radius: 50px;
        color: white;
        background-color: $main2;
        &.btn-cancel {
          background-color: $grey5;
          margin-right: vw(78);
        }
      }
    }
  }
}
