
.login-content {
  font-family: Arial !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #FFFFFF;
  .logo {
    width: vw(600);
    margin-bottom: vw(115);
    font-size: vw(90);
    font-weight: 600;
    color: $main1;
    text-align: center;
  }
  
  .login-container {
    margin-top: vw(40);
    .input-panel {
      width: vw(965);
      height: vw(120);
      background-color: white;
      display: flex;
      align-items: center;
      &:last-child {
        margin-top: vw(30);
      }
      input {
        padding: vw(30) vw(30);
        width: 100%;
        font-size: vw(40);
        border-bottom: solid 1px $grey5;
      }
      input::-webkit-input-placeholder{
        color: $grey7;
      }
      input:focus{
        border-bottom: 1px solid $black;
        transition-duration: 0.6s;
      }
    }
  }
  .find-user{
    width: 100%;
    text-align: right;
    width: vw(940);
    padding: vw(30);
    color: $grey7;
    font-size: vw(35);
  }
  .submit-container {
    $width: vw(995);
    $height: vw(127);
    width: $width;
    height: $height;
    margin-top: vw(70);
    button {
      width: $width;
      height: $height;
      background-color: $main1;
      border-radius: 10px;
      color: white;
      font-size: vw(45);
      font-weight: 600;
    }
  }

  .oauth-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: vw(100);
    .oauth-item {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $grey9;
      font-size: vw(38);
      &:first-child{
        color: #00106f;
      }
      &:last-child {
        color: #4b1111;
        margin-left: vw(90);
      }
      img {
        height: vw(60);
        display: block;
        margin-right: vw(10);
      }
    }
  }

  .join-container{
    position: absolute;
    bottom: 0px;
    padding: vw(48);
    width: 100%;
    text-align: center;
    border-top: 1px solid $grey4;
    font-size: vw(40);
    background-color: #FFFFFF;
  }

}
