.main-header {
  
  ion-title {
    padding: 0 !important;
    .toolbar-title {
      width: 100%;
      color: black;
      font-weight: 500;
      font-size: vw(40) !important;
      padding: 0 0 0 0 !important;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      div{
        width: 30%;
        height: vw(80);
        line-height: vw(80);
        text-align: center;
      }
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-back {
      height: vw(55) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }
  }

}

.main-content {
    font-family: Arial !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    // height: 100%;
    background-color: #FFFFFF;
    .icon-absolute{
      position: absolute;
    }
    img{
      $icon-size: vw(100);
      width: vw(93);
      height: vw(87);
      z-index: 100;
      &.menu-icon{
        left: vw(30);
        top: vw(30);
        font-size: $icon-size;
        color: #FFFFFF;
      }
      &.like-icon{
        right: vw(30);
        top: vw(30);
        font-size: $icon-size;
        color: #FFFFFF;
      }
    }
    div.list-up{
      color: #FFFFFF;
      font-size: vw(40);
      bottom: vw(60);
      right: vw(60);
      z-index: 100;
    }
    .recommend{
      height: vw(959);
      width: 100%;
      // background-color: $grey8;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      color: #FFFFFF;
      position: relative;
      
      .introduce{
        font-size: vw(70);
        font-weight: 600;
        position: absolute;
        bottom: vw(200);
        left: vw(40);
        img{
          width: vw(69);
          height: vw(69);
          position: relative;
          top: vw(10);
          z-index: 50;
        }
      }
      .sub-detail{
        position: absolute;
        font-size: vw(50);
        left: vw(40);
        bottom: vw(120);
      }
      video{
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
      .lock-screen{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 50;
        background-color: black;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: vw(137);
          height: vw(185);
        }
      }

    }

  }
  