.notice-list-header{
  ion-title{
    .toolbar-title{
      display: flex;
      justify-content: center;
      color: black;
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-back {
      height: vw(90) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }

  }
}

.notice-list-content {
  
    font-family: Arial !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    ul{
      list-style:none;
      padding: 0;
      margin: 0;
    }

    ul.list-container{
      width: 100%;
      >li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: vw(20) vw(40);
        border-bottom: 1px solid $grey6;
        ul.message-wrapper{
          width: vw(900);
          li{
            &:first-child{}
            &:last-child{
              color: $grey7;
              font-size: vw(35);
              line-height: vw(50);
              overflow: hidden; 
            }
          }
        }
        div.icon-wrapper{
          width: vw(100);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          img{
            height: vw(40);
          }
        }
          
      }
    }
    
  
  }
  