.notice-header{
  ion-title{
    .toolbar-title{
      display: flex;
      justify-content: center;
      color: black;
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-back {
      height: vw(90) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }
  }
}

.notice-content {
    font-family: Arial !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    ul{
      list-style:none;
      padding: 0;
      margin: 0;
    }

    ul.list-container{
      width: 100%;
      >li{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid $grey6;

        .message-wrapper{
          padding: vw(30);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          ul.message-box{
            width: vw(900);
            li{
              &:first-child{}
              &:last-child{
                color: $grey7;
                font-size: vw(35);
                line-height: vw(50);
                overflow: hidden; 
              }
            }
          }
          div.icon-box{
            width: vw(100);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            img{
              width: vw(40);
            }
          }
        }

        .detail-wrapper{
          padding: vw(30);
          padding-top: vw(0);
          .img-area{
            background-color: $main1;
            margin: vw(20) 0;
            width: 100%;
            height: vw(100);
            text-align: center;
            line-height: vw(100);
            color: #FFFFFF;
          }
        }
 
      }
    }
    
  
  }
  