
.number-check-header {
  ion-title {
    padding: 0 !important;
    .toolbar-title {
      width: 100%;
      color: black;
      font-weight: 500;
      font-size: vw(40) !important;
      padding: 0 0 0 0 !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      div{
        width: 30%;
        height: vw(80);
        line-height: vw(80);
        text-align: center;
      }
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-back {
      height: vw(55) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }

  }
}

.number-check-content {
  overflow: auto;
  .content-view {
    font-family: Arial !important;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: vw(165);
    position: relative;
  }
  .instruction {
    margin-top: vw(160);
    margin-bottom: vw(30);
    font-size: vw(35);
    width: vw(985);
    padding-left: vw(20);
    p{
      color: $grey7;
      margin-bottom: vw(15);
      text-align: center;
    }
    .title{
      font-size: vw(50);
      color: $grey10;
      margin-bottom: vw(30);
    }
  }
  .input-container {
    margin-top: vw(50);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: vw(950);
    .input-panel {
      width: 100%;
      height: vw(110);
      border-bottom: solid 1px $grey5;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        font-size: vw(35);
        width: 100%;
        height: 100%;
        padding-left: vw(20);
        border-bottom: solid 1px $grey5;
      }
      input::-webkit-input-placeholder{
        color: $grey7;
      }
      input:focus{
        border-bottom: 1px solid $black;
        transition-duration: 0.6s;
      }
    }
    .btn-panel {
      $width: vw(950);
      $height: vw(120);
      width: $width;
      height: $height;
      margin-left: vw(25);
      margin-top: vw(95);
      button {
        width: $width;
        height: $height;
        border-radius: 10px;
        font-size: vw(40);
        font-weight: 600;
        color: white;
        background-color: $main1;
      }
    }
  }

  // .ruler {
  //   margin: vw(140) 0 vw(65);
  //   width: vw(985);
  //   height: 1px;
  //   background-color: $grey5;
  // }

  // .safe-number-info-container {
  //   width: vw(985);
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   padding: 0 vw(85) 0 vw(25);
  //   .safe-label {
  //     display: flex;
  //     justify-content: flex-start;
  //     align-items: center;
  //     font-size: vw(40);
  //     img {
  //       width: vw(50);
  //       display: block;
  //       margin-right: vw(20);
  //     }
  //   }
  //   .safe-number {
  //     color: $main1;
  //     font-size: vw(45);
  //     font-weight: 600;
  //   }
  // }

  // .submit-container {
  //   width: vw(800);
  //   height: vw(150);
  //   margin-top: vw(70);
  //   //bottom: vw(110);
  //   //position: absolute;
  //   button {
  //     width: vw(800);
  //     height: vw(150);
  //     border-radius: 50px;
  //     font-size: vw(45);
  //     font-weight: 600;
  //     color: white;
  //     background-color: $main2;
  //   }
  // }
}

