
number-sent {
  font-family: Arial !important;
  .alert-content {
    .header {
      height: vw(150);
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: solid 1px $main1;
      .title {
        flex-grow: 2;
        text-align: center;
        font-size: vw(45);
        font-weight: 500;
        color: $main1;
      }
      .button-container {
        width: vw(150);
        height: vw(150);
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          height: vw(50);
          background-color: white;
          padding: 0;
          img {
            height: 100%;
          }
        }
      }

    }
    .content {
      flex-grow: 2;
      height: vw(560);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .message {
        font-size: vw(40);
        font-weight: 500;
        &:first-child {
          margin-bottom: vw(38);
        }
        span {
          color: $main1;
        }
      }
    }
    .footer {
      height: vw(280);
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        width: vw(600);
        height: vw(140);
        font-size: vw(45);
        font-weight: 500;
        border-radius: 50px;
        color: white;
        background-color: $main2;
      }
    }
  }
}
