
.passsword-reset-header {
  ion-title {
    padding: 0 !important;
    .toolbar-title {
      width: 100%;
      color: white;
      font-size: vw(50) !important;
      padding: 0 0 0 0 !important;
      text-align: left;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .sub-title {
        font-size: vw(40) !important;
        margin-left: vw(15);
      }
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-back {
      height: vw(55) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }

  }
}

.step-1 {
  overflow: auto;
  .content-view {
    font-family: Arial !important;
    background-color: $main3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: vw(165);
    position: relative;
  }
  .instruction {
    margin-top: vw(80);
    margin-bottom: vw(30);
    font-size: vw(35);
    width: vw(985);
    padding-left: vw(20);
    color: $grey8;
  }
  .input-container {
    margin-top: vw(50);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .input-panel {
      width: vw(640);
      height: vw(110);
      border: solid 1px $grey5;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        font-size: vw(35);
        width: 100%;
        height: 100%;
        text-align: center;
      }
    }
    .btn-panel {
      width: vw(320);
      height: vw(130);
      margin-left: vw(25);
      button {
        width: vw(320);
        height: vw(130);
        border-radius: 10px;
        font-size: vw(35);
        font-weight: 600;
        color: white;
        background-color: $main1;
      }
    }
  }

  .ruler {
    margin: vw(40) 0 vw(40);
    width: vw(985);
    height: 1px;
    background-color: $grey5;
  }

  .safe-number-info-container {
    width: vw(985);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 vw(85) 0 vw(25);
    .safe-label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: vw(40);
      img {
        width: vw(50);
        display: block;
        margin-right: vw(20);
      }
    }
    .safe-number {
      color: $main1;
      font-size: vw(45);
      font-weight: 600;
    }
  }

  .submit-container {
    width: vw(800);
    height: vw(150);
    margin-top: vw(70);
    button {
      width: vw(800);
      height: vw(150);
      border-radius: 50px;
      font-size: vw(45);
      font-weight: 600;
      color: white;
      background-color: $main2;
    }
  }
}

.step-2 {
  overflow: auto;
  .content-view {
    font-family: Arial !important;
    background-color: $main3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: vw(165);
    position: relative;
  }
  .instruction {
    margin-top: vw(80);
    margin-bottom: vw(30);
    font-size: vw(35);
    width: vw(985);
    padding-left: vw(20);
    color: $grey8;
  }
  .input-container {
    margin-top: vw(50);
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    .input-panel {
      width: 100%;
      height: vw(110);
      border: solid 1px $grey5;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        padding: 0 vw(20);
        font-size: vw(35);
        width: 100%;
        height: 100%;
        align-items: left
      }
    }
  }

  .ruler {
    margin: vw(40) 0 vw(20);
    width: vw(985);
    height: 1px;
    background-color: $grey5;
  }

  .safe-number-info-container {
    width: vw(985);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 vw(85) 0 vw(25);
    .safe-label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: vw(40);
      img {
        width: vw(50);
        display: block;
        margin-right: vw(20);
      }
    }
    .safe-number {
      color: $main1;
      font-size: vw(45);
      font-weight: 600;
    }
  }

  .submit-container {
    width: vw(800);
    height: vw(150);
    margin-top: vw(70);
    button {
      width: vw(800);
      height: vw(150);
      border-radius: 50px;
      font-size: vw(45);
      font-weight: 600;
      color: white;
      background-color: $main2;
    }
  }
}

.step-3 {
  .content-view {
    font-family: Arial !important;
    background-color: $main3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .note {
    margin-top: vw(-150);
    width: vw(135);
    height: vw(135);
    img {
      display: block;
      width: 100%;
    }
  }
  .instruction {
    margin-top: vw(80);
    margin-bottom: vw(30);
    font-size: vw(40);
    padding-left: vw(20);
    color: $grey10;
  }
  .login-container {
    width: vw(800);
    height: vw(150);
    margin-top: vw(30);
    button {
      width: vw(800);
      height: vw(150);
      border-radius: 50px;
      font-size: vw(45);
      font-weight: 600;
      color: white;
      background-color: $main2;
    }
  }
}

