.password-change-header {
  
  ion-title {
    padding: 0 !important;
    .toolbar-title {
      width: 100%;
      color: black;
      font-weight: 500;
      font-size: vw(40) !important;
      padding: 0 0 0 0 !important;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      div{
        width: 30%;
        height: vw(80);
        line-height: vw(80);
        text-align: center;
      }
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-back {
      height: vw(55) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }
  }

}

.password-change-content {
  font-family: Arial !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  height: 100%;
  padding : vw(40);
  margin-top: -10vw;
  .input-container{
    width: 100%;
    input{
      border-bottom: 1px solid $grey5;
      width: 100%;
      padding: vw(45) vw(20);
      margin-bottom: vw(5);
      font-size: vw(40);
    }
    input:focus{
      border-bottom: 1px solid $grey10;
      transition-duration: 0.4s;
    }
  }
  .submit-container{
    $size: 120;
    width: 100%;
    height: vw($size);
    line-height: vw($size);
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
    background-color: $main1;
    color: #FFFFFF;
    margin-top: vw(100);
  }  
}
