.action-sheet-group{
  overflow: scroll !important;
  max-height: vw(1000);
}
.profile-header {
 
  
  ion-title {
    padding: 0 !important;
    .toolbar-title {
      width: 100%;
      color: black;
      font-weight: 500;
      font-size: vw(60) !important;
      padding: 0 0 0 0 !important;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      div{
        width: 100%;
        height: vw(70);
        line-height: vw(80);
        text-align: center;
      }
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-back {
      height: vw(75) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }
  }

}

.profile-content {
    font-family: Arial !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    // height: 100%;
    background-color: #FFFFFF;
    
    .video-upload {
      width: 100%;
      height: vw(1080);
      text-align: center;
      margin-bottom: vw(50);
      .no-video{
        img{
          width: vw(300);
          margin-top: vw(250);
          margin-bottom: vw(30);
        }
        p{
          font-size: vw(50);
          margin-bottom: vw(15);
        }
      }
      .registered{
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .uploaded{
      margin-bottom: vw(50);
      img{
        margin-right: vw(30);
        width: vw(215);
        &:last-child{
          margin-right: vw(0);
        }
      }
    }
    
    .profile-container {
      margin-top: vw(40);
      .input-panel {
        width: vw(970);
        height: vw(120);
        background-color: white;
        border-bottom: solid 1px $grey5;
        display: flex;
        align-items: center;
        margin-bottom: vw(30);
        position: relative;
        .red-start{
          color: $main1;
          width: 4%;
          position: relative;
          top: vw(10);
        }
        .hidden{
          // visibility: hidden;
          display: none;
        }
        input {
          width: 96%;
          font-size: vw(40);
          // padding-left: vw(6);
        }  
        .select{
          padding: 0;
          width: 96%;
          font-size: vw(40);
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          background: none;
          background-image: url('../assets/img/profile_select_down_arrow.png');
          background-repeat: no-repeat;
          background-position: 97% center;
          background-size: 12px 6px;
          border: none;
        }
        
        .none-selected{
          color: $grey7;
        }        
      }
    }
    .submit-container {
      $width: vw(995);
      $height: vw(125);
      width: $width;
      height: $height;
      margin-top: vw(70);
      margin-bottom: vw(100);
      button {
        width: $width;
        height: $height;
        background-color: $main1;
        border-radius: 10px;
        color: white;
        font-size: vw(45);
        font-weight: 600;
      }
    }
  
  }
  