.recharge-ball-header {
  
  ion-title {
    padding: 0 !important;
    .toolbar-title {
      width: 100%;
      color: black;
      font-weight: 500;
      font-size: vw(40) !important;
      padding: 0 0 0 0 !important;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      div{
        width: 30%;
        height: vw(80);
        line-height: vw(80);
        text-align: center;
      }
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-back {
      height: vw(55) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }
  }

}

.recharge-ball-content {
  font-family: Arial !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  ul{
    list-style: none;
    padding: vw(0);
    margin: vw(0);
  }
  .img-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid $grey5;
    padding-bottom: vw(40);
    img{
      width: vw(250);
    }
    div{
      margin-top: vw(50);
      font-size: vw(50);
    }
  }
  ul.price-container{
    width: 100%;
    >li{
      width: 100%;
      height: vw(200);
      border-bottom: 1px solid $grey5;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 vw(40);
      .image-wrapper{
        border: 1px solid $main1;
        border-radius: 8px;
        width: vw(400);
        height: vw(120);
        line-height: vw(120);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 vw(20);
        font-size: vw(40);
        color: $main1;
        img{
          width: vw(80);
        }
      }
    }  
  }
  .usage-container{
    $size: 150;
    position: absolute;
    width: 100%;
    height: vw($size);
    line-height: vw($size);
    text-align: center;
    bottom: 0px;
    border-top: 1px solid $grey5;
  }

}
  