
.register-content {
  font-family: Arial !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #FFFFFF;
  
  .register-container {
    .input-panel {
      width: vw(970);
      height: vw(120);
      background-color: white;
      display: flex;
      align-items: center;
      margin-top: vw(30);
      input {
        padding: vw(30) vw(30);
        width: 100%;
        font-size: vw(40);
        border-bottom: solid 1px $grey5;
      }
      input::-webkit-input-placeholder{
        color: $grey7;
      }
      input:focus{
        border-bottom: 1px solid $black;
        transition-duration: 0.6s;
      }
    }
  }

  .gender-container{
    width: vw(940);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: vw(20);
    .gender-wrapper{
      width: 50%;
      padding: vw(30) vw(30);
      font-size: vw(40);
      img{
        height: vw(60);
        position: relative;
        top: vw(20);
      }
    }
    .gender-wrapper.active{
      color: $main1;
    }
  }

  .submit-container {
    $width: vw(995);
    $height: vw(127);
    width: $width;
    height: $height;
    margin-top: vw(40);
    button {
      width: $width;
      height: $height;
      background-color: $main1;
      border-radius: 10px;
      color: white;
      font-size: vw(45);
      font-weight: 600;
    }
  }

  .footer-container{
    position: absolute;
    bottom: 0px;
    padding: vw(47) 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid $grey4;
    background-color: #FFFFFF;
    font-size: vw(40);
    img{
      height: vw(40);
      position: relative;
      top: vw(7);
    }
  }

}
