.sabuzak-menu-container{

  .menu-inner {
    width: vw(750);
  }
  .badge{
    $size: 145;
    $top: 170;

    $img-size: vw($size * 0.5);
    $right-gap: vw($size + $size/3);
    $margin-top: vw($top);
    $second-top: vw($top + $size + 50);

    background-color: #FFFFFF;
    border-radius: vw($size/2);
    position: absolute;
    right: -$right-gap;
    width: vw($size);
    height: vw($size);
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      width: $img-size;
      height: $img-size;
    }
    &.chat{
      top: $margin-top;
    }
    &.alert{
      top: $second-top;
    }
    .alert{
      $size: 50;
      position: absolute;
      right: 0px;
      top : 0px;
      min-width: vw($size);
      height: vw($size);
      background-color: $main1;
      border-radius: vw($size/2);
      text-align: center;
      line-height:  vw($size);
      color: #FFFFFF;
      font-size: vw($size * 0.8);
    }
  }

  ion-content{
    div.menu-header{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $main1;
      .profile-pic{
        $size:370;
        width: vw($size);
        height: vw($size);
        border-radius: vw($size/2);
        background-color: black;
        margin-top: vw(80);
      }
      .nickname{
        margin-top: vw(20);
        color: #FFFFFF;
        font-size: vw(55);
      }
      ul.info{
        list-style: none;
        padding: vw(50) 0px;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: vw(20) 0;
        li{
          width: 50%;
          color: #FFFFFF;
          text-align: center;
          font-size: vw(35);
          &:first-child{
            border-right: 1px solid #FFFFFF;
          }
          div{
            &.label{
              margin-bottom: vw(20);
            }
            &.detail{
              span{
                font-size: vw(60);
              }
            }
          }

        }
      }

    }
    ul.menu-content{
      list-style: none;
      padding-left: 0px;
      margin: 0;
      li{
        border-bottom: 1px solid $grey6;
        padding-left: vw(40);
        height: vw(150);
        line-height: vw(150);
        font-size: vw(40);
        img{
          width: vw(70);
          position: relative;
          top: vw(20);
          margin-right: vw(20);
        }
      }
    }
  }

}