.search-liker-header{
  ion-title{
    .toolbar-title{
      display: flex;
      justify-content: center;
      color: black;
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-img {
      height: vw(90) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }

  }
}

.search-liker-content {
  font-family: Arial !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  ul{
    list-style:none;
    padding: 0;
    margin: 0;
  }
  .search-btn-container{
    width: vw(980);
    height: vw(120);
    line-height: vw(110);
    margin-top: vw(40);
    border-radius: vw(20);
    border: 1px solid $main1;
    color: $main1;
    text-align: center;
  }
  ul.list-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    >li{
      margin-top: vw(50);
      width: vw(980);
      .list-box{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

        .thumbnail{
          width: vw(290);
          height: vw(440);
          margin-right: vw(53);
          margin-bottom: vw(40);
          &:nth-child(3n){
            margin-right: vw(0);
          }
          .pic{
            width: 100%;
            height: vw(310);
            background-color: grey;
            margin-bottom: vw(20);
          }
          .label{
            margin-bottom: vw(10);
          }
        }
        .thumbnail-finding{
          width: vw(290);
          height: vw(440);
          margin-right: vw(53);
          margin-bottom: vw(40);
          &:nth-child(3n){
            margin-right: vw(0);
          }
          .pic{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: vw(310);
            margin-bottom: vw(20);
            border: 1px solid $grey5;
            img{
              width: vw(100);
            } 
          }
        }
      }
      .notice-wrapper{
        .searching{
          margin-bottom: vw(20);
        }
        .notice{
          p{
            line-height: vw(50);
            color: $grey7;
            font-size: vw(34);
          }
        }
      }
    }
  }
  .stop-wrapper{
    text-align: center;
    width: 100%;
    padding: vw(40) 0;
    border-top: 1px solid $grey5;
    position: absolute;
    bottom: vw(0);
    img{
      width: vw(30);
    }
  }
  
}
  