.select-list-header{
  ion-title{
    .toolbar-title{
      display: flex;
      justify-content: center;
      color: black;
      font-size: vw(70) !important;
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-img {
      height: vw(90) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }
  }
}

.select-list-content {
  font-family: Arial !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  ul{
    list-style:none;
    padding: 0;
    margin: 0;
  }
  .search-btn-container{
    width: vw(980);
    height: vw(120);
    line-height: vw(110);
    margin-top: vw(40);
    border-radius: vw(20);
    border: 1px solid $main1;
    color: $main1;
    text-align: center;
  }
  ul.list-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    >li{
      margin-top: vw(50);
      width: vw(980);
      .sub-title{
        width: 100%;
        color: $main1;
        margin-bottom: vw(30);
      }
      .list-box{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

        .thumbnail{
          width: vw(290);
          height: vw(440);
          margin-right: vw(53);
          margin-bottom: vw(40);
          position: relative;
          &:nth-child(3n){
            margin-right: vw(0);
          }
          .locked{
            width: 100%;
            height: vw(310);
            background-color: black;
            opacity: 0.6;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 200;
            img{
              width: vw(50);
              height: vw(70);
            }
          }
          .pic{
            width: 100%;
            height: vw(310);
            background-color: $sub4;
            margin-bottom: vw(20);
            &.blur{
              -webkit-filter: blur(1px);
              -moz-filter: blur(1px);
              -o-filter: blur(1px);
              -ms-filter: blur(1px);
              filter: blur(1px);
            }
            
          }
          .label{
            margin-bottom: vw(10);
          }
          .info{
            color: $grey7;
            font-size: vw(35);
          }
        }
      }
      .more{
        text-align: center;
        width: 100%;
        border-bottom: 1px solid $grey5;
        >div{
          width: 100%;
          padding: vw(20) 0 vw(50) 0;
          img{
            width: vw(30);
          }

        }
      }
    }
  }
  
}
  