.select-detail-header{
  ion-title{
    .toolbar-title{
      display: flex;
      justify-content: center;
      color: black;
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-img {
      height: vw(90) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }
  }
}

.select-detail-content {
  font-family: Arial !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  ul{
    list-style:none;
    padding: 0;
    margin: 0;
  }
  .video-container{
    width: 100%;
    height: vw(1100);
    background-color: grey;
    position: relative;
    ion-card{
      $size: 150;
      position: absolute;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      background-color: #FFFFFF;
      opacity: 0.9;
      color: $main1;
      width: vw($size);
      height: vw($size);
      border-radius: vw($size/2);
      display: flex;
      justify-content: center;
      align-items: center;
      right: vw(30);
      bottom: -($size/1080)*50vw;
      ion-icon{
        font-size: vw(100);
      }
    }
  }
  .info-container{
    text-align: center;
    .nickname{
      margin-top: vw(70);
      font-size: vw(80);
    }
    .info{
      margin-top: vw(10);
      color: $grey7;
    }
  }
  .up-and-down-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: vw(60);
    div{
      $size: 300;
      width: vw($size);
      height: vw($size);
      border-radius: vw($size/2);
      display: flex;
      justify-content: center;
      align-items: center;
      &.up-wrapper{
        border: 1px solid $grey7;
        margin-right: vw(60);
      }
      &.down-wrapper{
        border: 1px solid $main1;
      }
    }
    img{
      width: vw(160);
    }
  }
  
}
  