
.social-gender-content {
  font-family: Arial !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #FFFFFF;
    
  .social-gender-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .notice-wrapper{
      font-size: vw(55);
      margin-bottom: vw(170);
    }
    .gender-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        img{
          width: vw(317);
          height: vw(297);
          margin-bottom: vw(50);
        }
        &.male{
          color: #2d54bc;
          margin-right: vw(150);
        }
        &.female{
          color: $main1;
        } 
      }
    }
  }
  .footer-container{
    position: absolute;
    bottom: 0px;
    padding: vw(47) 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid $grey4;
    background-color: #FFFFFF;
    font-size: vw(40);
    img{
      height: vw(40);
      position: relative;
      top: vw(7);
    }
  }
}
  