.usage-header {
  
  ion-title {
    padding: 0 !important;
    .toolbar-title {
      width: 100%;
      color: black;
      font-weight: 500;
      font-size: vw(40) !important;
      padding: 0 0 0 0 !important;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      div{
        width: 30%;
        height: vw(80);
        line-height: vw(80);
        text-align: center;
      }
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-back {
      height: vw(55) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }
  }

}

.usage-content {
  font-family: Arial !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  ul{
    list-style: none;
    padding: vw(0);
    margin: vw(0);
    width: 100%;
    li{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: vw(150);
      line-height: vw(150);
      width: 100%;
      border-bottom: 1px solid $grey5;
      text-align: center;
      div{
        &:nth-child(1){
          width: 20%;
        }
        &:nth-child(2){
          width: 50%;
        }
        &:nth-child(3){
          width: 15%;
        }
        &:nth-child(4){
          width: 15%;
        }
        &.detail{
          text-align: left;
          padding-left: vw(20);
        }
      }
    }
  }
}