.video-register-header {
  
  ion-title {
    padding: 0 !important;
    .toolbar-title {
      width: 100%;
      color: black;
      font-weight: 500;
      font-size: vw(40) !important;
      padding: 0 0 0 0 !important;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      div{
        width: 30%;
        height: vw(80);
        line-height: vw(80);
        text-align: center;
      }
    }
  }
  ion-buttons.bar-buttons {
    padding: 0 vw(45) 0 vw(50);
    button.btn-back {
      height: vw(55) !important;
      img {
        height: 100% !important;
        display: block;
      }
    }
  }

}

.video-register-content {
    font-family: Arial !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    // height: 100%;
    background-color: #FFFFFF;
    .video-upload {
      width: 100%;
      height: vw(1080);
      text-align: center;
      margin-bottom: vw(50);
      .no-video{
        img{
          width: vw(300);
          margin-top: vw(250);
          margin-bottom: vw(30);
        }
        p{
          font-size: vw(50);
          margin-bottom: vw(15);
        }
      }
      .registered{
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .comment-container{
      width: vw(980);
      font-size: vw(40);
      padding: vw(30) 0;
    }
    .uploaded{
      margin-bottom: vw(50);
      img{
        margin-right: vw(30);
        &:last-child{
          margin-right: vw(0);
        }
      }
    }
    .submit-container {
      $width: vw(940);
      $height: vw(120);
      width: $width;
      height: $height;
      margin-top: vw(70);
      margin-bottom: vw(100);
      button {
        width: $width;
        height: $height;
        background-color: $main1;
        border-radius: 10px;
        color: white;
        font-size: vw(45);
        font-weight: 600;
      }
    }
  
  }
  