.view-profile-content {

  font-family: Arial !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  
  ul{
    list-style:none;
    padding: 0;
    margin: 0;
  }
  .icon-fixed{
    position: fixed;
    &.down-arrow{
      top: vw(30);
      left: vw(30);
      width: vw(80);
      height: vw(80);
    }
  }
  .image-container{
    width: 100%;
    .image-wrapper{
      background-color: $grey6;
      width: 100%;
      height: vw(1100);
    }
    .mini-image-wrapper{
      width: 100%;
      height: vw(200);
      border-bottom: 1px solid $grey5;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .nickname{
        padding: vw(40) vw(0) vw(0) vw(40);
        li{
          &:first-child{
            font-size: vw(50);
            margin-bottom: vw(10);
          }
          &:last-child{
            font-size: vw(40);
            color: $grey7;
          }
        }
      }
      .mini-images{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        li{
          background-color: $grey5;
          width: vw(110);
          height: vw(110);
          margin-right: vw(20);
        }
      }
    }
  }
  .rank-container{
    padding: vw(30);
    background-color: $grey3;
    width: 100%;
    li{
      &:first-child{
        margin-bottom: vw(10);
        font-size: vw(35);
      }
      &:last-child{
        font-size: vw(30);
        color: $grey8;
      }
    }
  }
  .profile-container{
    padding: vw(40);
    color: $grey8;
    li{
      margin-bottom: vw(50);
      font-size: vw(40);
      &:first-child{
        color: black;
      }
      span{
        color: black;
      }
    }
  }
  .submit-container{
    background-color: $main1;
    color: #FFFFFF;
    width: 100%;
    height: vw(160);
    line-height: vw(160);
    font-size: vw(50);
    font-weight: 600;
    text-align: center;
  }
  

}
