<!--
/**
 * Created by wonseok Lee on 18/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 18/08/2017
 *
 * Updater    수정자 - wonseok Lee 18/08/2017
 */
-->     

<ion-header class="recharge-ball-header">
  <ion-navbar hideBackButton="true">

    <ion-buttons left>
      <button class="btn-back"
              (click)="goBack()">
        <img src="assets/img/register_back_arrow.png"/>
      </button>
    </ion-buttons>
    <ion-title>
      <div>구슬충전소</div>
    </ion-title>
    <ion-buttons right>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content>

<div class="recharge-ball-content">
  <div class="img-container">
    <img src="assets/img/img_market_ball.png">
    <div>
      구슬 300개 보유중
    </div>
  </div>
  <ul class="price-container">
    <li>
      <div class="image-wrapper">
        <img src="assets/img/img_ball_thumbnail.png">
        <span>30 개</span>
      </div>
      <div class="price">
        $ 4.39
      </div>
    </li>
    <li>
      <div class="image-wrapper">
        <img src="assets/img/img_ball_thumbnail.png">
        <span>80 + 5 개</span>
      </div>
      <div class="price">
        $ 10.99
      </div>
    </li>
    <li>
      <div class="image-wrapper">
        <img src="assets/img/img_ball_thumbnail.png">
        <span>150 + 15 개</span>
      </div>
      <div class="price">
        $ 18.69
      </div>
    </li>
    <li>
      <div class="image-wrapper">
        <img src="assets/img/img_ball_thumbnail.png">
        <span>300 + 40 개</span>
      </div>
      <div class="price">
        $ 36.29
      </div>
    </li>
    <li>
      <div class="image-wrapper">
        <img src="assets/img/img_ball_thumbnail.png">
        <span>600 + 100 개</span>
      </div>
      <div class="price">
        $ 65.99
      </div>
    </li>
  </ul>
  <div class="usage-container" (click)="goUsage()">
    사용내역
  </div>

</div>
</ion-content>