<!--
/**
 * Created by wonseok Lee on 18/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 18/08/2017
 *
 * Updater    수정자 - wonseok Lee 18/08/2017
 */
-->     
<ion-header class="notice-list-header">
    <ion-navbar hideBackButton>
      <ion-buttons left>
        <button class="btn-back"
                (click)="goBack()">
          <img src="assets/img/header_back_arrow_bk.png"/>
        </button>
      </ion-buttons>
      <ion-title>
        <div>알림</div>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
      
    <div class="notice-list-content">
      <ul class="list-container">
        <li *ngFor="let i of [1,2,3,4,5,6]">
          <ul class="message-wrapper">
            <li>[우수회원 특별 이벤트]오늘 20시 전까지만 사용한 보너스 소개팅이 도착했습니다.</li>
            <li>2017.07.21 02:30</li>
          </ul>
          <div class="icon-wrapper">
            <img src="assets/img/drawer_gnb_arrow.png">
          </div>
        </li>
        <li *ngFor="let i of [1,2,3,4,5,6]">
            <ul class="message-wrapper">
              <li>오늘의 매칭이 전달되었습니다.</li>
              <li>2017.07.21 02:30</li>
            </ul>
            <div class="icon-wrapper">
              <img src="assets/img/drawer_gnb_arrow.png">
            </div>
          </li>
      </ul>
    </div>
      
  </ion-content>