<!--
/**
 * Created by wonseok on 16/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok <whereiswonny@gmail.com>, 16/08/2017
 *
 * Updater    수정자 - wonseok Lee 16/08/2017
 */
-->

<ion-header class="number-check-header">
  <ion-navbar hideBackButton="true">
    <ion-title>
      <div (click)="goBack()">가입취소</div>
      <div>문의하기</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="number-check-content">
    <div class="content-view" [style.height]="viewSize.height + 'px'">

      <div class="instruction">
        <p class="title">휴대폰인증</p>
        <p>허위 중복 가입을 막기 위한 절차입니다.</p>
        <p>전화번호는 절대 공개하지 않습니다.</p>
      </div>

      <div class="input-container"
          *ngIf="!testToggle">
        <div class="input-panel">
          <input type="text"
                [(ngModel)]="mobile"
                (ngModelChange)="reset()"
                placeholder="전화번호"/>
        </div>
        <div class="btn-panel">
          <!-- <button [disabled]="!mobile || sent" (click)="sendActivationNumber()">인증번호 요청</button> -->
          <button (click)="testTg()">인증번호 요청</button>
        </div>
      </div>

      <div class="input-container"
          *ngIf="testToggle">
        <div class="input-panel">
          <input type="text"
                [(ngModel)]="code"
                placeholder="인증번호 입력"/>
        </div>
        <div class="btn-panel">
          <!-- <button [disabled]="!code || !sent || checking || activated" (click)="checkActivationNumber()">확인</button> -->
          <button (click)="testNext()">확인</button>
        </div>
      </div>

      <!-- <div class="ruler"></div>

      <div class="safe-number-info-container"
          *ngIf="false">
        <div class="safe-label">
          <img src="assets/image/ic_info.png"/>
          <div>안심번호</div>
        </div>
        <div class="safe-number">1504-2938-3938</div>
      </div> -->

      <!-- <div class="submit-container">
        <button (click)="next()"
                [disabled]="!activated">다음
        </button>
      </div> -->
    </div>
  </div>
</ion-content>