<!--
/**
 * Created by JongIn Koo on 02/11/2016
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by JongIn Koo <developer@applicat.co.kr>, 02/11/2016
 *
 * Updater    수정자 - PHILIP 21/03/2017
 */
-->

<ion-header class="passsword-reset-header">
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button class="btn-back"
              (click)="goBack()">
        <img src="assets/image/ic_back.png"/>
      </button>
    </ion-buttons>
    <ion-title>
      <div>비밀번호 찾기</div>
    </ion-title>
    <ion-buttons right>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<div class="step-1" *ngIf="step == 1">
  <div class="content-view" [style.height]="viewSize.height + 'px'">
    <div class="instruction">가입 시 등록한 휴대폰 번호를 입력하세요.</div>

    <div class="ruler"></div>

    <div class="input-container">
      <div class="input-panel">
        <input type="text"
               [(ngModel)]="mobile"
               (ngModelChange)="reset()"
               placeholder="(-) 없이 휴대폰 번호를 입력해주세요."/>
      </div>
      <div class="btn-panel">
        <button [disabled]="!mobile || sent" (click)="sendActivationNumber()">인증번호 요청</button>
      </div>
    </div>

    <div class="input-container">
      <div class="input-panel">
        <input type="text"
               [(ngModel)]="code"
               placeholder="인증번호를 입력하세요."/>
      </div>
      <div class="btn-panel">
        <button [disabled]="!code || !sent || checking || activated" (click)="checkActivationNumber()">확인</button>
      </div>
    </div>

    <div class="submit-container">
      <button (click)="stepTwo()"
              [disabled]="!activated">다음
      </button>
    </div>

  </div>
</div>

<div class="passsword-reset-content step-2"
     *ngIf="step == 2">
  <div class="content-view" [style.height]="viewSize.height + 'px'">

    <div class="instruction">새로운 비밀번호를 등록하세요.</div>

    <div class="ruler"></div>

    <div class="input-container">
      <div class="input-panel">
        <input type="password"
               [(ngModel)]="newPassword"
               placeholder="새로운 비밀번호 입력 (최소 8자리 이상)"/>
      </div>
    </div>

    <div class="input-container">
      <div class="input-panel">
        <input type="password"
               [(ngModel)]="passwordConfirm"
               placeholder="새로운 비밀번호 확인"/>
      </div>
    </div>


    <div class="submit-container">
      <button (click)="changePasssword()"
              [disabled]="!isValid() || loading">확인
      </button>
    </div>

  </div>
</div>

<div class="step-3"
     *ngIf="step == 3">
  <div class="content-view" [style.height]="viewSize.height + 'px'">


    <div class="note"><img src="assets/image/ic_alert.png"/></div>

    <div class="instruction">비밀번호가 변경되었습니다.</div>

    <div class="login-container">
      <button (click)="goBack()">
        로그인하기
      </button>
    </div>
  </div>
</div>
