<!--
/**
 * Created by wonseok Lee on 18/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 18/08/2017
 *
 * Updater    수정자 - wonseok Lee 18/08/2017
 */
-->     
<ion-header class="select-list-header">
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button class="btn-img" menuToggle>
        <img src="assets/img/header_navicon.png"/>
      </button>
    </ion-buttons>
    <ion-title>
      <div>리스트</div>
    </ion-title>
    <ion-buttons right>
      <button class="btn-img"
              (click)="goSelectDetail(pageDrive.selectDetail)">
        <img src="assets/img/header_like_bk.png">
      </button>
    </ion-buttons>
  
  </ion-navbar>
</ion-header>
  
<ion-content (ionScroll)="isTopChk()">  
  <div class="select-list-content">
    <div class="top-fix-icon" 
          (click)="goTop()" 
          [ngClass]="{'hide':!topState}">
          <img src="assets/img/ic_scroll_to_top.png">
    </div>

    <div class="search-btn-container"
         (click)="pagePusher(pageDrive.searchLiker)">
      나를 좋아하는 이성찾기
    </div>
    <ul class="list-container">
      <li *ngFor="let listItem of listCollection">
        <div class="sub-title" 
             *ngIf="listItem.users.length">
          {{listItem.title}}
        </div>
        <ul class="list-box"
            *ngIf="listItem.users.length">
          <li class="thumbnail" *ngFor="let user of listItem.users">
            <div class="pic">
              
            </div>
            <div class="label">
              {{user.user.interest}}
            </div>
            <div class="info">
              {{user.user.age}}세,{{user.user.location}}
            </div>
          </li>
          <!-- 
            <li class="thumbnail">
              <div class="locked">
                <img src="assets/img/main_locked.png">
              </div>  
              <div class="pic">
                TEST
              </div>
              <div class="label">
                운동하는여자
              </div>
              <div class="info">
                23세,서울
              </div>
            </li>
            <li class="thumbnail">
              <div class="locked">
                <img src="assets/img/main_locked.png">
              </div>
              <div class="pic blur">
                TEST
              </div>
              <div class="label">
                운동하는여자
              </div>
              <div class="info">
                23세,서울
              </div>
            </li> 
        -->
        </ul>
        <div class="more"
             *ngIf = "listItem.users.length">
            <div *ngIf = "listItem.more"
                 (click)="getMore(listItem)">
              더보기
              <img src="assets/img/list_more_down_arrow.png">
            </div>
        </div>
        
      </li>
    </ul>
  </div>
    
</ion-content>