<!--
/**
 * Created by wonseok Lee on 21/08/2017
 * As part of cafe-1-template
 *
 * Copyright (C) Applicat (www.applicat.co.kr) - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by wonseok Lee <whereiswonny@gmail.com>, 21/08/2017
 *
 * Updater    수정자 - wonseok Lee 21/08/2017
 */
-->     

<ion-header class="settings-header">
    <ion-navbar hideBackButton="true">
  
      <ion-buttons left>
        <button class="btn-back"
                (click)="goBack()">
          <img src="assets/img/register_back_arrow.png"/>
        </button>
      </ion-buttons>
      <ion-title>
        <div>환경설정</div>
      </ion-title>
      <ion-buttons right>
      </ion-buttons>
  
    </ion-navbar>
  </ion-header>
  <ion-content>
  
  <div class="settings-content">
    <ul class="settings-container">
      <li>
        <div>알림받기</div>
        <ion-toggle [(ngModel)]="isAlert"></ion-toggle>
      </li>
      <li>
        <div>푸시알림</div>
        <ion-toggle [(ngModel)]="isPush"></ion-toggle>
      </li>
      <li>
        <div>오늘의 카드 받기</div>
        <ion-toggle [(ngModel)]="isTodayMatch"></ion-toggle>
      </li>
      <li (click)="pagePusher(pageList.passwordChange)">
        <div>비밀번호 변경</div>
        <img src="assets/img/drawer_gnb_arrow.png">
      </li>
      <li>
        <div>로그아웃</div>
        <img src="assets/img/drawer_gnb_arrow.png">
      </li>
      <li>
        <div>서비스 탈퇴</div>
        <img src="assets/img/drawer_gnb_arrow.png">
      </li>
      <li (click)="pagePusher(pageList.notice)">
        <div>공지사항</div>
        <img src="assets/img/drawer_gnb_arrow.png">
      </li>
    </ul>
  
  </div>
  </ion-content>